icomoon-font-path ?= "fonts"

garamontOPEN-italy-path1 = "\263d"
garamontOPEN-italy-path2 = "\263e"
garamontOPEN-italy-path3 = "\263f"
garamontOPEN-luxembourg-path1 = "\2640"
garamontOPEN-luxembourg-path2 = "\2641"
garamontOPEN-luxembourg-path3 = "\2642"
garamontOPEN-monaco-path1 = "\2643"
garamontOPEN-monaco-path2 = "\2644"
garamontOPEN-latvia-path1 = "\2645"
garamontOPEN-latvia-path2 = "\2646"
garamontOPEN-lithuania-path1 = "\2647"
garamontOPEN-lithuania-path2 = "\2648"
garamontOPEN-lithuania-path3 = "\2649"
garamontOPEN-romania-path1 = "\264a"
garamontOPEN-romania-path2 = "\264b"
garamontOPEN-romania-path3 = "\264c"
garamontOPEN-norway-path1 = "\264d"
garamontOPEN-norway-path2 = "\264e"
garamontOPEN-norway-path3 = "\264f"
garamontOPEN-czech-republic-path1 = "\2650"
garamontOPEN-czech-republic-path2 = "\2651"
garamontOPEN-czech-republic-path3 = "\2652"
garamontOPEN-cuba-path1 = "\2653"
garamontOPEN-cuba-path2 = "\2654"
garamontOPEN-cuba-path3 = "\2655"
garamontOPEN-cuba-path4 = "\2656"
garamontOPEN-cuba-path5 = "\2657"
garamontOPEN-cuba-path6 = "\2658"
garamontOPEN-cuba-path7 = "\2659"
garamontOPEN-germany-path1 = "\265a"
garamontOPEN-germany-path2 = "\265b"
garamontOPEN-germany-path3 = "\265c"
garamontOPEN-croatia-path1 = "\265d"
garamontOPEN-croatia-path2 = "\265e"
garamontOPEN-croatia-path3 = "\265f"
garamontOPEN-croatia-path4 = "\2660"
garamontOPEN-croatia-path5 = "\2661"
garamontOPEN-croatia-path6 = "\2662"
garamontOPEN-croatia-path7 = "\2663"
garamontOPEN-croatia-path8 = "\2664"
garamontOPEN-croatia-path9 = "\2665"
garamontOPEN-croatia-path10 = "\2666"
garamontOPEN-croatia-path11 = "\2667"
garamontOPEN-croatia-path12 = "\2668"
garamontOPEN-croatia-path13 = "\2669"
garamontOPEN-croatia-path14 = "\266a"
garamontOPEN-croatia-path15 = "\266b"
garamontOPEN-croatia-path16 = "\266c"
garamontOPEN-croatia-path17 = "\266d"
garamontOPEN-croatia-path18 = "\266e"
garamontOPEN-croatia-path19 = "\266f"
garamontOPEN-croatia-path20 = "\2670"
garamontOPEN-croatia-path21 = "\2671"
garamontOPEN-croatia-path22 = "\2672"
garamontOPEN-croatia-path23 = "\2673"
garamontOPEN-croatia-path24 = "\2674"
garamontOPEN-croatia-path25 = "\2675"
garamontOPEN-croatia-path26 = "\2676"
garamontOPEN-croatia-path27 = "\2677"
garamontOPEN-croatia-path28 = "\2678"
garamontOPEN-croatia-path29 = "\2679"
garamontOPEN-croatia-path30 = "\267a"
garamontOPEN-croatia-path31 = "\267b"
garamontOPEN-croatia-path32 = "\267c"
garamontOPEN-croatia-path33 = "\267d"
garamontOPEN-croatia-path34 = "\267e"
garamontOPEN-croatia-path35 = "\267f"
garamontOPEN-croatia-path36 = "\2680"
garamontOPEN-croatia-path37 = "\2681"
garamontOPEN-croatia-path38 = "\2682"
garamontOPEN-croatia-path39 = "\2683"
garamontOPEN-croatia-path40 = "\2684"
garamontOPEN-croatia-path41 = "\2685"
garamontOPEN-croatia-path42 = "\2686"
garamontOPEN-croatia-path43 = "\2687"
garamontOPEN-greece-path1 = "\2688"
garamontOPEN-greece-path2 = "\2689"
garamontOPEN-greece-path3 = "\268a"
garamontOPEN-greece-path4 = "\268b"
garamontOPEN-greece-path5 = "\268c"
garamontOPEN-greece-path6 = "\268d"
garamontOPEN-greece-path7 = "\268e"
garamontOPEN-greece-path8 = "\268f"
garamontOPEN-denmark-path1 = "\2690"
garamontOPEN-denmark-path2 = "\2691"
garamontOPEN-france-path1 = "\2692"
garamontOPEN-france-path2 = "\2693"
garamontOPEN-france-path3 = "\2694"
garamontOPEN-poland-path1 = "\2695"
garamontOPEN-poland-path2 = "\2696"
garamontOPEN-england-path1 = "\2697"
garamontOPEN-england-path2 = "\2698"
garamontOPEN-turkey-path1 = "\2699"
garamontOPEN-turkey-path2 = "\269a"
garamontOPEN-turkey-path3 = "\269b"
garamontOPEN-united-states-path1 = "\269c"
garamontOPEN-united-states-path2 = "\269d"
garamontOPEN-united-states-path3 = "\269e"
garamontOPEN-united-states-path4 = "\269f"
garamontOPEN-united-states-path5 = "\26a0"
garamontOPEN-united-states-path6 = "\26a1"
garamontOPEN-united-states-path7 = "\26a2"
garamontOPEN-united-states-path8 = "\26a3"
garamontOPEN-united-states-path9 = "\26a4"
garamontOPEN-united-states-path10 = "\26a5"
garamontOPEN-united-states-path11 = "\26a6"
garamontOPEN-united-states-path12 = "\26a7"
garamontOPEN-united-states-path13 = "\26a8"
garamontOPEN-united-states-path14 = "\26a9"
garamontOPEN-united-states-path15 = "\26aa"
garamontOPEN-united-states-path16 = "\26ab"
garamontOPEN-united-states-path17 = "\26ac"
garamontOPEN-united-states-path18 = "\26ad"
garamontOPEN-united-states-path19 = "\26ae"
garamontOPEN-united-states-path20 = "\26af"
garamontOPEN-united-states-path21 = "\26b0"
garamontOPEN-united-states-path22 = "\26b1"
garamontOPEN-united-states-path23 = "\26b2"
garamontOPEN-united-states-path24 = "\26b3"
garamontOPEN-united-states-path25 = "\26b4"
garamontOPEN-united-states-path26 = "\26b5"
garamontOPEN-united-states-path27 = "\26b6"
garamontOPEN-united-states-path28 = "\26b7"
garamontOPEN-united-states-path29 = "\26b8"
garamontOPEN-united-states-path30 = "\26b9"
garamontOPEN-united-states-path31 = "\26ba"
garamontOPEN-united-states-path32 = "\26bb"
garamontOPEN-united-states-path33 = "\26bc"
garamontOPEN-united-states-path34 = "\26bd"
garamontOPEN-united-states-path35 = "\26be"
garamontOPEN-united-states-path36 = "\26bf"
garamontOPEN-united-states-path37 = "\26c0"
garamontOPEN-united-states-path38 = "\26c1"
garamontOPEN-united-states-path39 = "\26c2"
garamontOPEN-united-states-path40 = "\26c3"
garamontOPEN-united-states-path41 = "\26c4"
garamontOPEN-united-states-path42 = "\26c5"
garamontOPEN-united-states-path43 = "\26c6"
garamontOPEN-united-states-path44 = "\26c7"
garamontOPEN-united-states-path45 = "\26c8"
garamontOPEN-united-states-path46 = "\26c9"
garamontOPEN-united-states-path47 = "\26ca"
garamontOPEN-united-states-path48 = "\26cb"
garamontOPEN-united-states-path49 = "\26cc"
garamontOPEN-united-states-path50 = "\26cd"
garamontOPEN-netherlands-path1 = "\26ce"
garamontOPEN-netherlands-path2 = "\26cf"
garamontOPEN-netherlands-path3 = "\26d0"
garamontOPEN-russia-path1 = "\26d1"
garamontOPEN-russia-path2 = "\26d2"
garamontOPEN-russia-path3 = "\26d3"
garamontOPEN-nato-path1 = "\26d5"
garamontOPEN-nato-path2 = "\26d6"
garamontOPEN-nato-path3 = "\26d7"
garamontOPEN-nato-path4 = "\26d8"
garamontOPEN-nato-path5 = "\26d9"
garamontOPEN-nato-path6 = "\26da"
garamontOPEN-european-union-path1 = "\26d4"
garamontOPEN-european-union-path2 = "\26db"
garamontOPEN-european-union-path3 = "\26dc"
garamontOPEN-european-union-path4 = "\26dd"
garamontOPEN-european-union-path5 = "\26de"
garamontOPEN-european-union-path6 = "\26df"
garamontOPEN-european-union-path7 = "\26e0"
garamontOPEN-european-union-path8 = "\26e1"
garamontOPEN-european-union-path9 = "\26e2"
garamontOPEN-european-union-path10 = "\26e3"
garamontOPEN-european-union-path11 = "\26e4"
garamontOPEN-european-union-path12 = "\26e5"
garamontOPEN-european-union-path13 = "\26e6"
garamontOPEN-united-kingdom-path1 = "\26e7"
garamontOPEN-united-kingdom-path2 = "\26e8"
garamontOPEN-united-kingdom-path3 = "\26e9"
garamontOPEN-united-kingdom-path4 = "\26ea"
garamontOPEN-united-kingdom-path5 = "\26eb"
garamontOPEN-united-kingdom-path6 = "\26ec"
garamontOPEN-united-kingdom-path7 = "\26ed"
garamontOPEN-austria-path1 = "\26ee"
garamontOPEN-austria-path2 = "\26ef"
garamontOPEN-austria-path3 = "\26f0"
garamontOPEN-estonia-path1 = "\26f1"
garamontOPEN-estonia-path2 = "\26f2"
garamontOPEN-estonia-path3 = "\26f3"
garamontOPEN-slovenia-path1 = "\26f4"
garamontOPEN-slovenia-path2 = "\26f5"
garamontOPEN-slovenia-path3 = "\26f6"
garamontOPEN-slovenia-path4 = "\26f7"
garamontOPEN-slovenia-path5 = "\26f8"
garamontOPEN-slovenia-path6 = "\26f9"
garamontOPEN-slovenia-path7 = "\26fa"
garamontOPEN-slovenia-path8 = "\26fb"
garamontOPEN-slovenia-path9 = "\26fc"
garamontOPEN-slovenia-path10 = "\26fd"
garamontOPEN-slovenia-path11 = "\26fe"
garamontOPEN-iceland-path1 = "\26ff"
garamontOPEN-iceland-path2 = "\2701"
garamontOPEN-iceland-path3 = "\2702"
garamontOPEN-slovakia-path1 = "\2703"
garamontOPEN-slovakia-path2 = "\2704"
garamontOPEN-slovakia-path3 = "\2705"
garamontOPEN-slovakia-path4 = "\2706"
garamontOPEN-slovakia-path5 = "\2707"
garamontOPEN-slovakia-path6 = "\2708"
garamontOPEN-slovakia-path7 = "\270a"
garamontOPEN-finland-path1 = "\270b"
garamontOPEN-finland-path2 = "\270c"
garamontOPEN-spain-path1 = "\2770"
garamontOPEN-spain-path2 = "\2771"
garamontOPEN-spain-path3 = "\2772"
garamontOPEN-spain-path4 = "\2773"
garamontOPEN-spain-path5 = "\2774"
garamontOPEN-spain-path6 = "\2775"
garamontOPEN-spain-path7 = "\2776"
garamontOPEN-spain-path8 = "\2777"
garamontOPEN-spain-path9 = "\2778"
garamontOPEN-spain-path10 = "\2779"
garamontOPEN-spain-path11 = "\277a"
garamontOPEN-spain-path12 = "\277b"
garamontOPEN-spain-path13 = "\277c"
garamontOPEN-spain-path14 = "\277d"
garamontOPEN-spain-path15 = "\277e"
garamontOPEN-spain-path16 = "\277f"
garamontOPEN-spain-path17 = "\2780"
garamontOPEN-spain-path18 = "\2781"
garamontOPEN-spain-path19 = "\2782"
garamontOPEN-spain-path20 = "\2783"
garamontOPEN-spain-path21 = "\2784"
garamontOPEN-spain-path22 = "\2785"
garamontOPEN-spain-path23 = "\2786"
garamontOPEN-spain-path24 = "\2787"
garamontOPEN-spain-path25 = "\2788"
garamontOPEN-spain-path26 = "\2789"
garamontOPEN-spain-path27 = "\278a"
garamontOPEN-spain-path28 = "\278b"
garamontOPEN-spain-path29 = "\278c"
garamontOPEN-spain-path30 = "\278d"
garamontOPEN-spain-path31 = "\278e"
garamontOPEN-spain-path32 = "\278f"
garamontOPEN-spain-path33 = "\2790"
garamontOPEN-spain-path34 = "\2791"
garamontOPEN-spain-path35 = "\2792"
garamontOPEN-spain-path36 = "\2793"
garamontOPEN-spain-path37 = "\2794"
garamontOPEN-spain-path38 = "\2795"
garamontOPEN-spain-path39 = "\2796"
garamontOPEN-norway1-path1 = "\2767"
garamontOPEN-norway1-path2 = "\2768"
garamontOPEN-norway1-path3 = "\2769"
garamontOPEN-belgium-path1 = "\276a"
garamontOPEN-belgium-path2 = "\276b"
garamontOPEN-belgium-path3 = "\276c"
garamontOPEN-bulgaria-path1 = "\276d"
garamontOPEN-bulgaria-path2 = "\276e"
garamontOPEN-bulgaria-path3 = "\276f"
garamontOPEN-uniE900 = "\1f6f4"
garamontOPEN-uniE901 = "\1f6f3"
garamontOPEN-uniE902 = "\1f6f2"
garamontOPEN-uniE903 = "\1f6f1"
garamontOPEN-uniE904 = "\1f6ec"
garamontOPEN-uniE905 = "\1f6eb"
garamontOPEN-uniE906 = "\1f6ea"
garamontOPEN-uniE907 = "\1f6e9"
garamontOPEN-uniE908 = "\1f6e8"
garamontOPEN-uniE909 = "\1f6e7"
garamontOPEN-uniE90A = "\1f6e6"
garamontOPEN-uniE90B = "\1f6e5"
garamontOPEN-uniE90D = "\1f6e4"
garamontOPEN-uniE90F = "\1f6e3"
garamontOPEN-uniE910 = "\1f6e2"
garamontOPEN-uniE911 = "\1f6e0"
garamontOPEN-uniE912 = "\274a"
garamontOPEN-uniE913 = "\274b"
garamontOPEN-uniE914 = "\2749"
garamontOPEN-uniE915 = "\2748"
garamontOPEN-uniE916 = "\2741"
garamontOPEN-uniE917 = "\2742"
garamontOPEN-uniE918 = "\2743"
garamontOPEN-uniE919 = "\273f"
garamontOPEN-uniE91A = "\273d"
garamontOPEN-uniE91B = "\273e"
garamontOPEN-uniE91C = "\273b"
garamontOPEN-uniE91D = "\2739"
garamontOPEN-uniE91E = "\2737"
garamontOPEN-uniE91F = "\2738"
garamontOPEN-uniE920 = "\273a"
garamontOPEN-uniE921 = "\2736"
garamontOPEN-uniE922 = "\2734"
garamontOPEN-uniE923 = "\2735"
garamontOPEN-uniE924 = "\2733"
garamontOPEN-uniE925 = "\2732"
garamontOPEN-uniE926 = "\2731"
garamontOPEN-uniE927 = "\2730"
garamontOPEN-uniE928 = "\272d"
garamontOPEN-uniE929 = "\272c"
garamontOPEN-uniE92A = "\272b"
garamontOPEN-uniE92B = "\272a"
garamontOPEN-uniE92C = "\2729"
garamontOPEN-uniE92D = "\2728"
garamontOPEN-uniE92E = "\2725"
garamontOPEN-uniE92F = "\2726"
garamontOPEN-uniE930 = "\2727"
garamontOPEN-uniE931 = "\2723"
garamontOPEN-uniE932 = "\2721"
garamontOPEN-uniE934 = "\2722"
garamontOPEN-uniE937 = "\271f"
garamontOPEN-uniE93A = "\2720"
garamontOPEN-uniE93B = "\271d"
garamontOPEN-uniE93C = "\271e"
garamontOPEN-uniE93E = "\271b"
garamontOPEN-uniE93F = "\271c"
garamontOPEN-uniE940 = "\2603"
garamontOPEN-uniE941 = "\25fd"
garamontOPEN-uniE942 = "\25fa"
garamontOPEN-uniE943 = "\25fc"
garamontOPEN-uniE944 = "\25f8"
garamontOPEN-uniE945 = "\25f9"
garamontOPEN-uniE946 = "\25f6"
garamontOPEN-uniE947 = "\25f7"
garamontOPEN-uniE948 = "\25f5"
garamontOPEN-uniE949 = "\25f4"
garamontOPEN-uniE94A = "\25f3"
garamontOPEN-uniE94B = "\25f2"
garamontOPEN-uniE94C = "\25f1"
garamontOPEN-uniE94D = "\25f0"
garamontOPEN-uniE94E = "\25ee"
garamontOPEN-uniE94F = "\25ed"
garamontOPEN-uniE950 = "\25ec"
garamontOPEN-uniE951 = "\25eb"
garamontOPEN-uniE952 = "\25ea"
garamontOPEN-uniE953 = "\25e9"
garamontOPEN-uniE954 = "\25e8"
garamontOPEN-uniE955 = "\25e7"
garamontOPEN-uniE956 = "\25e5"
garamontOPEN-uniE957 = "\25e3"
garamontOPEN-uniE958 = "\25e2"
garamontOPEN-uniE959 = "\25e1"
garamontOPEN-uniE95A = "\25e0"
garamontOPEN-uniE95B = "\25e4"
garamontOPEN-uniE95C = "\25de"
garamontOPEN-uniE95D = "\25dd"
garamontOPEN-uniE95E = "\25dc"
garamontOPEN-uniE95F = "\25da"
garamontOPEN-uniE960 = "\25d9"
garamontOPEN-uniE961 = "\25d8"
garamontOPEN-uniE962 = "\25d6"
garamontOPEN-uniE963 = "\25d5"
garamontOPEN-uniE964 = "\25d7"
garamontOPEN-uniE965 = "\25d4"
garamontOPEN-uniE966 = "\25d3"
garamontOPEN-uniE967 = "\25d2"
garamontOPEN-uniE968 = "\25d1"
garamontOPEN-uniE96A = "\25d0"
garamontOPEN-uniE96B = "\25cf"
garamontOPEN-uniE96C = "\25ce"
garamontOPEN-uniE96D = "\25cd"
garamontOPEN-uniE96E = "\25cb"
garamontOPEN-uniE96F = "\25ca"
garamontOPEN-uniE970 = "\25c9"
garamontOPEN-uniE971 = "\25c8"
garamontOPEN-uniE972 = "\25c7"
garamontOPEN-uniE973 = "\25c6"
garamontOPEN-uniE974 = "\25c5"
garamontOPEN-uniE97F = "\25c4"
garamontOPEN-uniE984 = "\25c3"
garamontOPEN-uniE985 = "\25c2"
garamontOPEN-uniE986 = "\25c1"
garamontOPEN-uniE987 = "\25c0"
garamontOPEN-uniE988 = "\25bf"
garamontOPEN-uniE989 = "\25be"
garamontOPEN-uniE98A = "\25bd"
garamontOPEN-uniE98B = "\25bc"
garamontOPEN-uniE98C = "\25bb"
garamontOPEN-uniE98D = "\25ba"
garamontOPEN-uniE98E = "\25b9"
garamontOPEN-uniE98F = "\25b8"
garamontOPEN-uniE990 = "\25b4"
garamontOPEN-uniE991 = "\25b3"
garamontOPEN-uniE993 = "\25b2"
garamontOPEN-uniE994 = "\2296"
garamontOPEN-uniE995 = "\2295"
garamontOPEN-home = "\2294"
garamontOPEN-office = "\2293"
garamontOPEN-newspaper = "\2292"
garamontOPEN-pencil = "\2291"
garamontOPEN-pencil2 = "\2290"
garamontOPEN-quill = "\228f"
garamontOPEN-pen = "\228e"
garamontOPEN-paint-format = "\228d"
garamontOPEN-image = "\228c"
garamontOPEN-images = "\228b"
garamontOPEN-camera = "\228a"
garamontOPEN-headphones = "\227f"
garamontOPEN-music = "\227e"
garamontOPEN-play = "\227d"
garamontOPEN-film = "\227c"
garamontOPEN-video-camera = "\2261"
garamontOPEN-bullhorn = "\225f"
garamontOPEN-mic = "\225e"
garamontOPEN-book = "\225d"
garamontOPEN-books = "\225c"
garamontOPEN-library = "\225b"
garamontOPEN-file-text = "\225a"
garamontOPEN-profile = "\2259"
garamontOPEN-file-empty = "\2258"
garamontOPEN-files-empty = "\2257"
garamontOPEN-file-text2 = "\2256"
garamontOPEN-file-picture = "\2255"
garamontOPEN-file-music = "\2254"
garamontOPEN-file-play = "\2253"
garamontOPEN-file-video = "\2252"
garamontOPEN-file-zip = "\2251"
garamontOPEN-copy = "\2250"
garamontOPEN-paste = "\224f"
garamontOPEN-stack = "\224e"
garamontOPEN-folder-plus = "\224d"
garamontOPEN-folder-minus = "\224c"
garamontOPEN-folder-download = "\224b"
garamontOPEN-folder-upload = "\224a"
garamontOPEN-price-tag = "\2249"
garamontOPEN-price-tags = "\2247"
garamontOPEN-calculator = "\2246"
garamontOPEN-lifebuoy = "\2245"
garamontOPEN-phone = "\2244"
garamontOPEN-phone-hang-up = "\2243"
garamontOPEN-address-book = "\2242"
garamontOPEN-envelop = "\2241"
garamontOPEN-pushpin = "\2240"
garamontOPEN-location = "\223f"
garamontOPEN-location2 = "\223d"
garamontOPEN-compass = "\223b"
garamontOPEN-compass2 = "\223a"
garamontOPEN-map = "\2239"
garamontOPEN-map2 = "\2238"
garamontOPEN-history = "\2237"
garamontOPEN-clock = "\2235"
garamontOPEN-clock2 = "\2234"
garamontOPEN-alarm = "\2233"
garamontOPEN-bell = "\2232"
garamontOPEN-stopwatch = "\2231"
garamontOPEN-calendar = "\2230"
garamontOPEN-printer = "\222f"
garamontOPEN-keyboard = "\222e"
garamontOPEN-laptop = "\222d"
garamontOPEN-mobile = "\2289"
garamontOPEN-undo = "\2288"
garamontOPEN-redo = "\2287"
garamontOPEN-undo2 = "\2286"
garamontOPEN-bubble2 = "\2285"
garamontOPEN-bubbles3 = "\2284"
garamontOPEN-bubbles4 = "\2282"
garamontOPEN-user = "\2283"
garamontOPEN-users = "\2281"
garamontOPEN-user-plus = "\2280"
garamontOPEN-user-minus = "\2279"
garamontOPEN-quotes-left = "\2278"
garamontOPEN-quotes-right = "\2277"
garamontOPEN-hour-glass = "\2276"
garamontOPEN-stats-dots = "\2275"
garamontOPEN-stats-bars = "\2274"
garamontOPEN-stats-bars2 = "\2273"
garamontOPEN-fire = "\2272"
garamontOPEN-lab = "\226f"
garamontOPEN-magnet = "\226d"
garamontOPEN-bin = "\226c"
garamontOPEN-airplane = "\226b"
garamontOPEN-switch = "\226a"
garamontOPEN-clipboard = "\2269"
garamontOPEN-list-numbered = "\2268"
garamontOPEN-list = "\2267"
garamontOPEN-cloud = "\2262"
garamontOPEN-cloud-download = "\2266"
garamontOPEN-cloud-upload = "\22c8"
garamontOPEN-cloud-check = "\22c9"
garamontOPEN-sphere = "\22ca"
garamontOPEN-happy = "\22cb"
garamontOPEN-smile = "\2263"
garamontOPEN-tongue = "\22cc"
garamontOPEN-sad = "\22cd"
garamontOPEN-grin = "\22ce"
garamontOPEN-cool = "\22cf"
garamontOPEN-angry = "\22d0"
garamontOPEN-evil = "\22d1"
garamontOPEN-shocked = "\22d2"
garamontOPEN-baffled = "\22d3"
garamontOPEN-confused = "\22d4"
garamontOPEN-neutral = "\22d5"
garamontOPEN-wondering = "\22d6"
garamontOPEN-sleepy = "\22d7"
garamontOPEN-frustrated = "\22d8"
garamontOPEN-crying = "\22d9"
garamontOPEN-info = "\22da"
garamontOPEN-cancel-circle = "\22db"
garamontOPEN-blocked = "\22dc"
garamontOPEN-play2 = "\22dd"
garamontOPEN-pause = "\22de"
garamontOPEN-stop = "\22df"
garamontOPEN-previous = "\22e0"
garamontOPEN-next = "\22e1"
garamontOPEN-backward = "\22e2"
garamontOPEN-forward2 = "\22e3"
garamontOPEN-sort-amount-asc = "\22e4"
garamontOPEN-sort-amount-desc = "\22e5"
garamontOPEN-table = "\22e6"
garamontOPEN-table2 = "\22e7"
garamontOPEN-insert-template = "\22e8"
garamontOPEN-section = "\a7"
garamontOPEN-paragraph-left = "\22e9"
garamontOPEN-paragraph-center = "\22ea"
garamontOPEN-paragraph-right = "\22eb"
garamontOPEN-paragraph-justify = "\22ec"
garamontOPEN-indent-increase = "\22ed"
garamontOPEN-indent-decrease = "\22ee"
garamontOPEN-mail = "\22ef"
garamontOPEN-mail2 = "\22f0"
garamontOPEN-google = "\22f1"
garamontOPEN-google2 = "\22f2"
garamontOPEN-google3 = "\22f3"
garamontOPEN-hangouts = "\22f4"
garamontOPEN-google-drive = "\22f5"
garamontOPEN-instagram = "\22f6"
garamontOPEN-twitter = "\22f7"
garamontOPEN-youtube2 = "\22f8"
garamontOPEN-twitch = "\22f9"
garamontOPEN-steam2 = "\22fa"
garamontOPEN-onedrive = "\22fb"
garamontOPEN-github = "\22fc"
garamontOPEN-android = "\22fd"
garamontOPEN-windows = "\2756"
garamontOPEN-chrome = "\22fe"
garamontOPEN-file-pdf = "\22ff"
garamontOPEN-dottedCircle = "\25cc"
garamontOPEN-One-roman = "\2160"
garamontOPEN-Two-roman = "\2161"
garamontOPEN-Three-roman = "\2162"
garamontOPEN-Four-roman = "\2163"
garamontOPEN-Five-roman = "\2164"
garamontOPEN-Six-roman = "\2165"
garamontOPEN-Seven-roman = "\2166"
garamontOPEN-Eight-roman = "\2167"
garamontOPEN-Nine-roman = "\2168"
garamontOPEN-Ten-roman = "\2169"
garamontOPEN-Eleven-roman = "\216a"
garamontOPEN-Twelve-roman = "\216b"
garamontOPEN-Fifty-roman = "\216c"
garamontOPEN-Hundred-roman = "\216d"
garamontOPEN-Fivehundred-roman = "\216e"
garamontOPEN-Thousand-roman = "\216f"
garamontOPEN-angleLeft = "\2329"
garamontOPEN-angleRight = "\232a"
garamontOPEN-horizontallineextension = "\23af"
garamontOPEN-northEastAndSouthWestArrow = "\2922"
garamontOPEN-northWestAndSouthEastArrow = "\2921"
garamontOPEN-rightangledownzigzagArrow = "\237c"
garamontOPEN-upArrow = "\2191"
garamontOPEN-northEastArrow = "\2197"
garamontOPEN-rightArrow = "\2192"
garamontOPEN-southEastArrow = "\2198"
garamontOPEN-downArrow = "\2193"
garamontOPEN-southWestArrow = "\2199"
garamontOPEN-leftArrow = "\2190"
garamontOPEN-northWestArrow = "\2196"
garamontOPEN-leftRightArrow = "\2194"
garamontOPEN-upDownArrow = "\2195"
garamontOPEN-notdef1 = "\e900"
garamontOPEN-exclam1 = "\7f"
garamontOPEN-quotedbl1 = "\80"
garamontOPEN-numbersign1 = "\81"
garamontOPEN-dollar1 = "\82"
garamontOPEN-percent1 = "\83"
garamontOPEN-ampersand1 = "\84"
garamontOPEN-quotesingle1 = "\85"
garamontOPEN-parenleft1 = "\86"
garamontOPEN-parenright1 = "\87"
garamontOPEN-asterisk1 = "\88"
garamontOPEN-plus1 = "\89"
garamontOPEN-comma1 = "\8a"
garamontOPEN-hyphen2 = "\8b"
garamontOPEN-hyphen3 = "\af"
garamontOPEN-period1 = "\8c"
garamontOPEN-slash1 = "\8d"
garamontOPEN-zero1 = "\8e"
garamontOPEN-one1 = "\8f"
garamontOPEN-two1 = "\90"
garamontOPEN-three1 = "\91"
garamontOPEN-four1 = "\92"
garamontOPEN-five1 = "\93"
garamontOPEN-six1 = "\94"
garamontOPEN-seven1 = "\95"
garamontOPEN-eight1 = "\96"
garamontOPEN-nine1 = "\97"
garamontOPEN-colon1 = "\98"
garamontOPEN-semicolon1 = "\99"
garamontOPEN-less1 = "\9a"
garamontOPEN-equal1 = "\9b"
garamontOPEN-greater1 = "\9c"
garamontOPEN-question1 = "\9d"
garamontOPEN-at1 = "\9e"
garamontOPEN-A1 = "\9f"
garamontOPEN-B1 = "\a0"
garamontOPEN-C1 = "\a1"
garamontOPEN-D1 = "\a5"
garamontOPEN-E1 = "\b4"
garamontOPEN-F1 = "\b7"
garamontOPEN-G1 = "\b8"
garamontOPEN-H1 = "\b9"
garamontOPEN-I1 = "\ba"
garamontOPEN-J1 = "\bc"
garamontOPEN-K1 = "\bd"
garamontOPEN-L1 = "\be"
garamontOPEN-M1 = "\bf"
garamontOPEN-N1 = "\c0"
garamontOPEN-O1 = "\c1"
garamontOPEN-P1 = "\c2"
garamontOPEN-Q1 = "\c3"
garamontOPEN-R1 = "\c4"
garamontOPEN-S1 = "\c5"
garamontOPEN-T1 = "\c6"
garamontOPEN-U1 = "\c7"
garamontOPEN-V1 = "\c8"
garamontOPEN-W1 = "\c9"
garamontOPEN-X1 = "\ca"
garamontOPEN-Y1 = "\cb"
garamontOPEN-Z1 = "\cc"
garamontOPEN-bracketleft1 = "\cd"
garamontOPEN-backslash1 = "\ce"
garamontOPEN-bracketright1 = "\cf"
garamontOPEN-asciicircum1 = "\d0"
garamontOPEN-underscore1 = "\d1"
garamontOPEN-grave1 = "\d2"
garamontOPEN-a1 = "\d3"
garamontOPEN-b1 = "\d4"
garamontOPEN-c1 = "\d5"
garamontOPEN-d1 = "\d6"
garamontOPEN-e1 = "\d7"
garamontOPEN-f1 = "\d8"
garamontOPEN-g1 = "\d9"
garamontOPEN-h1 = "\da"
garamontOPEN-i1 = "\db"
garamontOPEN-j1 = "\dc"
garamontOPEN-k1 = "\dd"
garamontOPEN-l1 = "\de"
garamontOPEN-m1 = "\df"
garamontOPEN-n1 = "\e0"
garamontOPEN-o1 = "\e1"
garamontOPEN-p1 = "\e2"
garamontOPEN-q1 = "\e3"
garamontOPEN-r1 = "\e4"
garamontOPEN-s1 = "\e5"
garamontOPEN-t1 = "\e6"
garamontOPEN-u1 = "\e7"
garamontOPEN-v1 = "\e8"
garamontOPEN-w1 = "\e9"
garamontOPEN-x1 = "\ea"
garamontOPEN-y1 = "\eb"
garamontOPEN-z1 = "\ec"
garamontOPEN-braceleft1 = "\ed"
garamontOPEN-bar1 = "\ee"
garamontOPEN-braceright1 = "\ef"
garamontOPEN-asciitilde1 = "\f0"
garamontOPEN-afii100512 = "\e901"
garamontOPEN-afii100513 = "\40d"
garamontOPEN-afii100522 = "\e902"
garamontOPEN-afii100523 = "\450"
garamontOPEN-afii100612 = "\e903"
garamontOPEN-afii100613 = "\458"
garamontOPEN-afii100602 = "\e904"
garamontOPEN-afii100603 = "\45d"
garamontOPEN-afii101452 = "\e905"
garamontOPEN-afii101453 = "\460"
garamontOPEN-afii100992 = "\e906"
garamontOPEN-afii100993 = "\461"
garamontOPEN-afii101092 = "\e910"
garamontOPEN-afii101093 = "\462"
garamontOPEN-afii101082 = "\e911"
garamontOPEN-afii101083 = "\463"
garamontOPEN-afii100622 = "\f1"
garamontOPEN-afii100623 = "\464"
garamontOPEN-afii101102 = "\f2"
garamontOPEN-afii101103 = "\465"
garamontOPEN-afii100572 = "\f3"
garamontOPEN-afii100573 = "\466"
garamontOPEN-currency1 = "\f4"
garamontOPEN-CyrHardG1 = "\f5"
garamontOPEN-CyrHardG2 = "\492"
garamontOPEN-brokenbar1 = "\f6"
garamontOPEN-section2 = "\f7"
garamontOPEN-afii100232 = "\f8"
garamontOPEN-afii100233 = "\467"
garamontOPEN-copyright1 = "\f9"
garamontOPEN-afii100531 = "\fa"
garamontOPEN-afii100532 = "\468"
garamontOPEN-guillemotleft1 = "\fb"
garamontOPEN-logicalnot1 = "\fc"
garamontOPEN-registered1 = "\fd"
garamontOPEN-afii100562 = "\fe"
garamontOPEN-afii100563 = "\46a"
garamontOPEN-degree1 = "\ff"
garamontOPEN-plusminus1 = "\100"
garamontOPEN-afii100552 = "\101"
garamontOPEN-afii100553 = "\46b"
garamontOPEN-afii101032 = "\102"
garamontOPEN-afii101033 = "\46c"
garamontOPEN-cyrhardg2 = "\103"
garamontOPEN-cyrhardg3 = "\493"
garamontOPEN-mu1 = "\104"
garamontOPEN-paragraph1 = "\105"
garamontOPEN-afii100712 = "\106"
garamontOPEN-afii100713 = "\46d"
garamontOPEN-afii613521 = "\107"
garamontOPEN-afii613522 = "\2117"
garamontOPEN-afii101011 = "\108"
garamontOPEN-afii101012 = "\46e"
garamontOPEN-guillemotright1 = "\109"
garamontOPEN-afii101051 = "\10a"
garamontOPEN-afii101052 = "\46f"
garamontOPEN-afii100541 = "\10b"
garamontOPEN-afii100542 = "\470"
garamontOPEN-afii101021 = "\10c"
garamontOPEN-afii101022 = "\471"
garamontOPEN-afii101041 = "\10d"
garamontOPEN-afii101042 = "\472"
garamontOPEN-afii100171 = "\10e"
garamontOPEN-afii100172 = "\473"
garamontOPEN-afii100181 = "\10f"
garamontOPEN-afii100182 = "\474"
garamontOPEN-afii100191 = "\110"
garamontOPEN-afii100192 = "\476"
garamontOPEN-afii100201 = "\111"
garamontOPEN-afii100202 = "\477"
garamontOPEN-afii100211 = "\112"
garamontOPEN-afii100212 = "\478"
garamontOPEN-afii100221 = "\113"
garamontOPEN-afii100222 = "\479"
garamontOPEN-afii100241 = "\114"
garamontOPEN-afii100242 = "\47a"
garamontOPEN-afii100251 = "\115"
garamontOPEN-afii100252 = "\47b"
garamontOPEN-afii100261 = "\116"
garamontOPEN-afii100262 = "\47c"
garamontOPEN-afii100271 = "\117"
garamontOPEN-afii100272 = "\47d"
garamontOPEN-afii100281 = "\118"
garamontOPEN-afii100282 = "\47e"
garamontOPEN-afii100291 = "\119"
garamontOPEN-afii100292 = "\47f"
garamontOPEN-afii100301 = "\11a"
garamontOPEN-afii100302 = "\480"
garamontOPEN-afii100311 = "\11b"
garamontOPEN-afii100312 = "\481"
garamontOPEN-afii100321 = "\11c"
garamontOPEN-afii100322 = "\482"
garamontOPEN-afii100331 = "\11d"
garamontOPEN-afii100332 = "\483"
garamontOPEN-afii100341 = "\11e"
garamontOPEN-afii100342 = "\484"
garamontOPEN-afii100351 = "\11f"
garamontOPEN-afii100352 = "\485"
garamontOPEN-afii100361 = "\120"
garamontOPEN-afii100362 = "\486"
garamontOPEN-afii100371 = "\121"
garamontOPEN-afii100372 = "\487"
garamontOPEN-afii100381 = "\122"
garamontOPEN-afii100382 = "\488"
garamontOPEN-afii100391 = "\123"
garamontOPEN-afii100392 = "\489"
garamontOPEN-afii100401 = "\124"
garamontOPEN-afii100402 = "\48a"
garamontOPEN-afii100411 = "\125"
garamontOPEN-afii100412 = "\48b"
garamontOPEN-afii100421 = "\126"
garamontOPEN-afii100422 = "\48c"
garamontOPEN-afii100431 = "\127"
garamontOPEN-afii100432 = "\48d"
garamontOPEN-afii100441 = "\128"
garamontOPEN-afii100442 = "\48e"
garamontOPEN-afii100451 = "\129"
garamontOPEN-afii100452 = "\48f"
garamontOPEN-afii100461 = "\12a"
garamontOPEN-afii100462 = "\494"
garamontOPEN-afii100471 = "\12b"
garamontOPEN-afii100472 = "\495"
garamontOPEN-afii100481 = "\12c"
garamontOPEN-afii100482 = "\496"
garamontOPEN-afii100491 = "\12d"
garamontOPEN-afii100492 = "\497"
garamontOPEN-afii100651 = "\12e"
garamontOPEN-afii100652 = "\498"
garamontOPEN-afii100661 = "\12f"
garamontOPEN-afii100662 = "\499"
garamontOPEN-afii100671 = "\130"
garamontOPEN-afii100672 = "\49a"
garamontOPEN-glyph1461 = "\131"
garamontOPEN-glyph1462 = "\49b"
garamontOPEN-afii100691 = "\132"
garamontOPEN-afii100692 = "\49c"
garamontOPEN-afii100701 = "\133"
garamontOPEN-afii100702 = "\49d"
garamontOPEN-afii100721 = "\134"
garamontOPEN-afii100722 = "\49e"
garamontOPEN-afii100731 = "\135"
garamontOPEN-afii100732 = "\49f"
garamontOPEN-afii100741 = "\136"
garamontOPEN-afii100742 = "\4a0"
garamontOPEN-afii100751 = "\137"
garamontOPEN-afii100752 = "\4a1"
garamontOPEN-glyph180 = "\138"
garamontOPEN-glyph1801 = "\4a2"
garamontOPEN-afii100771 = "\139"
garamontOPEN-afii100772 = "\4a3"
garamontOPEN-afii100781 = "\13a"
garamontOPEN-afii100782 = "\4a4"
garamontOPEN-afii100791 = "\13b"
garamontOPEN-afii100792 = "\4a5"
garamontOPEN-afii100801 = "\13c"
garamontOPEN-afii100802 = "\4a6"
garamontOPEN-afii100811 = "\13d"
garamontOPEN-afii100812 = "\4a7"
garamontOPEN-afii100821 = "\13e"
garamontOPEN-afii100822 = "\4a8"
garamontOPEN-afii100831 = "\13f"
garamontOPEN-afii100832 = "\4a9"
garamontOPEN-afii100841 = "\140"
garamontOPEN-afii100842 = "\4aa"
garamontOPEN-glyph193 = "\141"
garamontOPEN-glyph1931 = "\4ab"
garamontOPEN-afii100861 = "\142"
garamontOPEN-afii100862 = "\4ac"
garamontOPEN-afii100871 = "\143"
garamontOPEN-afii100872 = "\4ad"
garamontOPEN-afii100881 = "\144"
garamontOPEN-afii100882 = "\4ae"
garamontOPEN-afii100891 = "\145"
garamontOPEN-afii100892 = "\4af"
garamontOPEN-afii100901 = "\146"
garamontOPEN-afii100902 = "\4b0"
garamontOPEN-afii100911 = "\147"
garamontOPEN-afii100912 = "\4b1"
garamontOPEN-afii100921 = "\148"
garamontOPEN-afii100922 = "\4b2"
garamontOPEN-afii100931 = "\149"
garamontOPEN-afii100932 = "\4b3"
garamontOPEN-afii100941 = "\14a"
garamontOPEN-afii100942 = "\4b4"
garamontOPEN-afii100951 = "\14b"
garamontOPEN-afii100952 = "\4b5"
garamontOPEN-afii100961 = "\14c"
garamontOPEN-afii100962 = "\4b6"
garamontOPEN-afii100971 = "\14d"
garamontOPEN-afii100972 = "\4b7"
garamontOPEN-afii100591 = "\152"
garamontOPEN-afii100592 = "\4b8"
garamontOPEN-afii101071 = "\153"
garamontOPEN-afii101072 = "\4b9"
garamontOPEN-afii100581 = "\160"
garamontOPEN-afii100582 = "\4ba"
garamontOPEN-afii101061 = "\161"
garamontOPEN-afii101062 = "\4bb"
garamontOPEN-afii101931 = "\178"
garamontOPEN-afii101932 = "\4bc"
garamontOPEN-afii101001 = "\193"
garamontOPEN-afii101002 = "\4bd"
garamontOPEN-Accent1 = "\2c8"
garamontOPEN-accent1 = "\2dd"
garamontOPEN-endash1 = "\2015"
garamontOPEN-emdash1 = "\2016"
garamontOPEN-quoteleft1 = "\201b"
garamontOPEN-quoteright1 = "\201f"
garamontOPEN-quotesinglbase1 = "\2023"
garamontOPEN-quotedblleft1 = "\2024"
garamontOPEN-quotedblright1 = "\2025"
garamontOPEN-quotedblbase1 = "\2027"
garamontOPEN-dagger1 = "\2028"
garamontOPEN-daggerdbl1 = "\2029"
garamontOPEN-bullet2 = "\202a"
garamontOPEN-bullet3 = "\f001"
garamontOPEN-ellipsis1 = "\202b"
garamontOPEN-perthousand1 = "\2031"
garamontOPEN-guilsinglleft1 = "\203b"
garamontOPEN-guilsinglright1 = "\203c"
garamontOPEN-trademark1 = "\2123"
garamontOPEN-periodcentered1 = "\221b"
garamontOPEN-fi1 = "\f002"
garamontOPEN-uniF0021 = "\f003"
garamontOPEN-sterling1 = "\e912"
garamontOPEN-NotEqual1 = "\e913"
garamontOPEN-glyph1441 = "\e915"
garamontOPEN-glyph1471 = "\e916"
garamontOPEN-infinity1 = "\e917"
garamontOPEN-lessequal1 = "\e918"
garamontOPEN-greaterequal1 = "\e919"
garamontOPEN-glyph158 = "\e91a"
garamontOPEN-glyph160 = "\e91b"
garamontOPEN-glyph161 = "\e91c"
garamontOPEN-radical1 = "\e91d"
garamontOPEN-florin1 = "\e91e"
garamontOPEN-approxequal1 = "\e91f"
garamontOPEN-Delta1 = "\e920"
garamontOPEN-divide1 = "\e921"
garamontOPEN-glyph1911 = "\e922"
garamontOPEN-glyph194 = "\e923"
garamontOPEN-notdef2 = "\e924"
garamontOPEN-exclam2 = "\14e"
garamontOPEN-quotedbl2 = "\14f"
garamontOPEN-numbersign2 = "\150"
garamontOPEN-dollar2 = "\151"
garamontOPEN-percent2 = "\154"
garamontOPEN-ampersand2 = "\155"
garamontOPEN-quotesingle2 = "\156"
garamontOPEN-parenleft2 = "\157"
garamontOPEN-parenright2 = "\158"
garamontOPEN-asterisk2 = "\159"
garamontOPEN-plus2 = "\15a"
garamontOPEN-comma2 = "\15b"
garamontOPEN-hyphen4 = "\15c"
garamontOPEN-hyphen5 = "\15d"
garamontOPEN-period2 = "\15e"
garamontOPEN-slash2 = "\15f"
garamontOPEN-zero2 = "\162"
garamontOPEN-one2 = "\163"
garamontOPEN-two2 = "\164"
garamontOPEN-three2 = "\165"
garamontOPEN-four2 = "\166"
garamontOPEN-five2 = "\167"
garamontOPEN-six2 = "\168"
garamontOPEN-seven2 = "\169"
garamontOPEN-eight2 = "\16a"
garamontOPEN-nine2 = "\16b"
garamontOPEN-colon2 = "\16c"
garamontOPEN-semicolon2 = "\16d"
garamontOPEN-less2 = "\16e"
garamontOPEN-equal2 = "\16f"
garamontOPEN-greater2 = "\170"
garamontOPEN-question2 = "\171"
garamontOPEN-at2 = "\172"
garamontOPEN-A2 = "\173"
garamontOPEN-B2 = "\174"
garamontOPEN-C2 = "\175"
garamontOPEN-D2 = "\176"
garamontOPEN-E2 = "\177"
garamontOPEN-F2 = "\179"
garamontOPEN-G2 = "\17a"
garamontOPEN-H2 = "\17b"
garamontOPEN-I2 = "\17c"
garamontOPEN-J2 = "\17d"
garamontOPEN-K2 = "\17e"
garamontOPEN-L2 = "\17f"
garamontOPEN-M2 = "\180"
garamontOPEN-N2 = "\181"
garamontOPEN-O2 = "\182"
garamontOPEN-P2 = "\183"
garamontOPEN-Q2 = "\184"
garamontOPEN-R2 = "\185"
garamontOPEN-S2 = "\186"
garamontOPEN-T2 = "\187"
garamontOPEN-U2 = "\188"
garamontOPEN-V2 = "\189"
garamontOPEN-W2 = "\18a"
garamontOPEN-X2 = "\18b"
garamontOPEN-Y2 = "\18c"
garamontOPEN-Z2 = "\18d"
garamontOPEN-bracketleft2 = "\18e"
garamontOPEN-backslash2 = "\18f"
garamontOPEN-bracketright2 = "\190"
garamontOPEN-asciicircum2 = "\191"
garamontOPEN-underscore2 = "\194"
garamontOPEN-grave2 = "\195"
garamontOPEN-a2 = "\196"
garamontOPEN-b2 = "\197"
garamontOPEN-c2 = "\198"
garamontOPEN-d2 = "\199"
garamontOPEN-e2 = "\19a"
garamontOPEN-f2 = "\19b"
garamontOPEN-g2 = "\19c"
garamontOPEN-h2 = "\19d"
garamontOPEN-i2 = "\19e"
garamontOPEN-j2 = "\19f"
garamontOPEN-k2 = "\1a0"
garamontOPEN-l2 = "\1a1"
garamontOPEN-m2 = "\1a2"
garamontOPEN-n2 = "\1a3"
garamontOPEN-o2 = "\1a4"
garamontOPEN-p2 = "\1a5"
garamontOPEN-q2 = "\1a6"
garamontOPEN-r2 = "\1a7"
garamontOPEN-s2 = "\1a8"
garamontOPEN-t2 = "\1a9"
garamontOPEN-u2 = "\1aa"
garamontOPEN-v2 = "\1ab"
garamontOPEN-w2 = "\1ac"
garamontOPEN-x2 = "\1ad"
garamontOPEN-y2 = "\1ae"
garamontOPEN-z2 = "\1af"
garamontOPEN-braceleft2 = "\1b0"
garamontOPEN-bar2 = "\1b1"
garamontOPEN-braceright2 = "\1b2"
garamontOPEN-asciitilde2 = "\1b3"
garamontOPEN-afii100514 = "\e925"
garamontOPEN-afii100515 = "\4be"
garamontOPEN-afii100524 = "\e926"
garamontOPEN-afii100525 = "\4bf"
garamontOPEN-afii100614 = "\e927"
garamontOPEN-afii100615 = "\4c0"
garamontOPEN-afii100604 = "\e928"
garamontOPEN-afii100605 = "\4c1"
garamontOPEN-afii101454 = "\e929"
garamontOPEN-afii101455 = "\4c2"
garamontOPEN-afii100994 = "\e92a"
garamontOPEN-afii100995 = "\4c3"
garamontOPEN-afii101094 = "\e92b"
garamontOPEN-afii101095 = "\4c4"
garamontOPEN-afii101084 = "\e92c"
garamontOPEN-afii101085 = "\4c5"
garamontOPEN-afii100624 = "\1b4"
garamontOPEN-afii100625 = "\4c6"
garamontOPEN-afii101104 = "\1b5"
garamontOPEN-afii101105 = "\4c7"
garamontOPEN-afii100574 = "\1b6"
garamontOPEN-afii100575 = "\4c8"
garamontOPEN-currency2 = "\1b7"
garamontOPEN-CyrHardG3 = "\1b8"
garamontOPEN-CyrHardG4 = "\4c9"
garamontOPEN-brokenbar2 = "\1b9"
garamontOPEN-section3 = "\1ba"
garamontOPEN-afii100234 = "\1bb"
garamontOPEN-afii100235 = "\4ca"
garamontOPEN-copyright2 = "\1bc"
garamontOPEN-afii100533 = "\1bd"
garamontOPEN-afii100534 = "\4cb"
garamontOPEN-guillemotleft2 = "\1be"
garamontOPEN-logicalnot2 = "\1bf"
garamontOPEN-registered2 = "\1c0"
garamontOPEN-afii100564 = "\1c1"
garamontOPEN-afii100565 = "\4cc"
garamontOPEN-degree2 = "\1c2"
garamontOPEN-plusminus2 = "\1c3"
garamontOPEN-afii100554 = "\1c4"
garamontOPEN-afii100555 = "\4cd"
garamontOPEN-afii101034 = "\1c5"
garamontOPEN-afii101035 = "\4ce"
garamontOPEN-cyrhardg4 = "\1c6"
garamontOPEN-cyrhardg5 = "\4cf"
garamontOPEN-mu2 = "\1c7"
garamontOPEN-paragraph2 = "\1c8"
garamontOPEN-afii100714 = "\1c9"
garamontOPEN-afii100715 = "\4d0"
garamontOPEN-afii613523 = "\1ca"
garamontOPEN-afii613524 = "\2118"
garamontOPEN-afii101013 = "\1cb"
garamontOPEN-afii101014 = "\4d1"
garamontOPEN-guillemotright2 = "\1cc"
garamontOPEN-afii101053 = "\1cd"
garamontOPEN-afii101054 = "\4d2"
garamontOPEN-afii100543 = "\1ce"
garamontOPEN-afii100544 = "\4d3"
garamontOPEN-afii101023 = "\1cf"
garamontOPEN-afii101024 = "\4d4"
garamontOPEN-afii101043 = "\1d0"
garamontOPEN-afii101044 = "\4d5"
garamontOPEN-afii100173 = "\1d1"
garamontOPEN-afii100174 = "\4d6"
garamontOPEN-afii100183 = "\1d2"
garamontOPEN-afii100184 = "\4d7"
garamontOPEN-afii100193 = "\1d3"
garamontOPEN-afii100194 = "\4d8"
garamontOPEN-afii100203 = "\1d4"
garamontOPEN-afii100204 = "\4d9"
garamontOPEN-afii100213 = "\1d5"
garamontOPEN-afii100214 = "\4da"
garamontOPEN-afii100223 = "\1d6"
garamontOPEN-afii100224 = "\4db"
garamontOPEN-afii100243 = "\1d7"
garamontOPEN-afii100244 = "\4dc"
garamontOPEN-afii100253 = "\1d8"
garamontOPEN-afii100254 = "\4dd"
garamontOPEN-afii100263 = "\1d9"
garamontOPEN-afii100264 = "\4de"
garamontOPEN-afii100273 = "\1da"
garamontOPEN-afii100274 = "\4df"
garamontOPEN-afii100283 = "\1db"
garamontOPEN-afii100284 = "\4e0"
garamontOPEN-afii100293 = "\1dc"
garamontOPEN-afii100294 = "\4e1"
garamontOPEN-afii100303 = "\1dd"
garamontOPEN-afii100304 = "\4e2"
garamontOPEN-afii100313 = "\1de"
garamontOPEN-afii100314 = "\4e3"
garamontOPEN-afii100323 = "\1df"
garamontOPEN-afii100324 = "\4e4"
garamontOPEN-afii100333 = "\1e0"
garamontOPEN-afii100334 = "\4e5"
garamontOPEN-afii100343 = "\1e1"
garamontOPEN-afii100344 = "\4e6"
garamontOPEN-afii100353 = "\1e2"
garamontOPEN-afii100354 = "\4e7"
garamontOPEN-afii100363 = "\1e3"
garamontOPEN-afii100364 = "\4e8"
garamontOPEN-afii100373 = "\1e4"
garamontOPEN-afii100374 = "\4e9"
garamontOPEN-afii100383 = "\1e5"
garamontOPEN-afii100384 = "\4ea"
garamontOPEN-afii100393 = "\1e6"
garamontOPEN-afii100394 = "\4eb"
garamontOPEN-afii100403 = "\1e7"
garamontOPEN-afii100404 = "\4ec"
garamontOPEN-afii100413 = "\1e8"
garamontOPEN-afii100414 = "\4ed"
garamontOPEN-afii100423 = "\1e9"
garamontOPEN-afii100424 = "\4ee"
garamontOPEN-afii100433 = "\1ea"
garamontOPEN-afii100434 = "\4ef"
garamontOPEN-afii100443 = "\1eb"
garamontOPEN-afii100444 = "\4f0"
garamontOPEN-afii100453 = "\1ec"
garamontOPEN-afii100454 = "\4f1"
garamontOPEN-afii100463 = "\1ed"
garamontOPEN-afii100464 = "\4f2"
garamontOPEN-afii100473 = "\1ee"
garamontOPEN-afii100474 = "\4f3"
garamontOPEN-afii100483 = "\1ef"
garamontOPEN-afii100484 = "\4f4"
garamontOPEN-afii100493 = "\1f0"
garamontOPEN-afii100494 = "\4f5"
garamontOPEN-afii100653 = "\1f1"
garamontOPEN-afii100654 = "\4f6"
garamontOPEN-afii100663 = "\1f2"
garamontOPEN-afii100664 = "\4f7"
garamontOPEN-afii100673 = "\1f3"
garamontOPEN-afii100674 = "\4f8"
garamontOPEN-afii10068 = "\1f4"
garamontOPEN-afii100681 = "\4f9"
garamontOPEN-afii100693 = "\1f5"
garamontOPEN-afii100694 = "\4fa"
garamontOPEN-afii100703 = "\1f6"
garamontOPEN-afii100704 = "\4fb"
garamontOPEN-afii100723 = "\1f7"
garamontOPEN-afii100724 = "\4fc"
garamontOPEN-afii100733 = "\1f8"
garamontOPEN-afii100734 = "\4fd"
garamontOPEN-afii100743 = "\1f9"
garamontOPEN-afii100744 = "\4fe"
garamontOPEN-afii100753 = "\1fa"
garamontOPEN-afii100754 = "\4ff"
garamontOPEN-glyph178 = "\1fb"
garamontOPEN-glyph1781 = "\500"
garamontOPEN-afii100773 = "\1fc"
garamontOPEN-afii100774 = "\501"
garamontOPEN-afii100783 = "\1fd"
garamontOPEN-afii100784 = "\502"
garamontOPEN-afii100793 = "\1fe"
garamontOPEN-afii100794 = "\503"
garamontOPEN-afii100803 = "\1ff"
garamontOPEN-afii100804 = "\504"
garamontOPEN-afii100813 = "\200"
garamontOPEN-afii100814 = "\505"
garamontOPEN-afii100823 = "\201"
garamontOPEN-afii100824 = "\506"
garamontOPEN-afii100833 = "\202"
garamontOPEN-afii100834 = "\507"
garamontOPEN-afii100843 = "\203"
garamontOPEN-afii100844 = "\508"
garamontOPEN-glyph192 = "\204"
garamontOPEN-glyph1921 = "\509"
garamontOPEN-afii100863 = "\205"
garamontOPEN-afii100864 = "\50a"
garamontOPEN-afii100873 = "\206"
garamontOPEN-afii100874 = "\50b"
garamontOPEN-afii100883 = "\207"
garamontOPEN-afii100884 = "\50c"
garamontOPEN-afii100893 = "\208"
garamontOPEN-afii100894 = "\50d"
garamontOPEN-afii100903 = "\209"
garamontOPEN-afii100904 = "\50e"
garamontOPEN-afii100913 = "\20a"
garamontOPEN-afii100914 = "\50f"
garamontOPEN-afii100923 = "\20b"
garamontOPEN-afii100924 = "\510"
garamontOPEN-afii100933 = "\20c"
garamontOPEN-afii100934 = "\511"
garamontOPEN-afii100943 = "\20d"
garamontOPEN-afii100944 = "\512"
garamontOPEN-afii100953 = "\20e"
garamontOPEN-afii100954 = "\513"
garamontOPEN-afii100963 = "\20f"
garamontOPEN-afii100964 = "\514"
garamontOPEN-afii100973 = "\210"
garamontOPEN-afii100974 = "\515"
garamontOPEN-afii100593 = "\211"
garamontOPEN-afii100594 = "\516"
garamontOPEN-afii101073 = "\212"
garamontOPEN-afii101074 = "\517"
garamontOPEN-afii100583 = "\213"
garamontOPEN-afii100584 = "\518"
garamontOPEN-afii101063 = "\214"
garamontOPEN-afii101064 = "\519"
garamontOPEN-afii101933 = "\215"
garamontOPEN-afii101934 = "\51a"
garamontOPEN-afii101003 = "\216"
garamontOPEN-afii101004 = "\51b"
garamontOPEN-Accent2 = "\2c9"
garamontOPEN-accent2 = "\2de"
garamontOPEN-endash2 = "\2017"
garamontOPEN-emdash2 = "\202c"
garamontOPEN-quoteleft2 = "\202d"
garamontOPEN-quoteright2 = "\202e"
garamontOPEN-quotesinglbase2 = "\202f"
garamontOPEN-quotedblleft2 = "\2032"
garamontOPEN-quotedblright2 = "\2033"
garamontOPEN-quotedblbase2 = "\2034"
garamontOPEN-dagger2 = "\2035"
garamontOPEN-daggerdbl2 = "\2036"
garamontOPEN-bullet4 = "\2037"
garamontOPEN-bullet5 = "\f004"
garamontOPEN-ellipsis2 = "\2038"
garamontOPEN-perthousand2 = "\203d"
garamontOPEN-guilsinglleft2 = "\203e"
garamontOPEN-guilsinglright2 = "\203f"
garamontOPEN-trademark2 = "\2124"
garamontOPEN-periodcentered2 = "\221c"
garamontOPEN-fi2 = "\f005"
garamontOPEN-uniF0022 = "\f006"
garamontOPEN-sterling2 = "\e92d"
garamontOPEN-NotEqual2 = "\e92e"
garamontOPEN-glyph1442 = "\e92f"
garamontOPEN-infinity2 = "\e930"
garamontOPEN-lessequal2 = "\e931"
garamontOPEN-greaterequal2 = "\e932"
garamontOPEN-glyph156 = "\e933"
garamontOPEN-glyph1581 = "\e934"
garamontOPEN-glyph159 = "\e935"
garamontOPEN-radical2 = "\e936"
garamontOPEN-florin2 = "\e937"
garamontOPEN-approxequal2 = "\e938"
garamontOPEN-Delta2 = "\e939"
garamontOPEN-glyph179 = "\e93a"
garamontOPEN-divide2 = "\e93b"
garamontOPEN-glyph1901 = "\e93c"
garamontOPEN-glyph1932 = "\e93d"
garamontOPEN-notdef3 = "\e93e"
garamontOPEN-exclam3 = "\217"
garamontOPEN-quotedbl3 = "\218"
garamontOPEN-numbersign3 = "\219"
garamontOPEN-dollar3 = "\21a"
garamontOPEN-percent3 = "\21b"
garamontOPEN-ampersand3 = "\21c"
garamontOPEN-quotesingle3 = "\21d"
garamontOPEN-parenleft3 = "\21e"
garamontOPEN-parenright3 = "\21f"
garamontOPEN-asterisk3 = "\220"
garamontOPEN-plus3 = "\221"
garamontOPEN-comma3 = "\222"
garamontOPEN-hyphen6 = "\223"
garamontOPEN-hyphen7 = "\224"
garamontOPEN-period3 = "\225"
garamontOPEN-slash3 = "\226"
garamontOPEN-zero3 = "\227"
garamontOPEN-one3 = "\228"
garamontOPEN-two3 = "\229"
garamontOPEN-three3 = "\22a"
garamontOPEN-four3 = "\22b"
garamontOPEN-five3 = "\22c"
garamontOPEN-six3 = "\22d"
garamontOPEN-seven3 = "\22e"
garamontOPEN-eight3 = "\22f"
garamontOPEN-nine3 = "\230"
garamontOPEN-colon3 = "\231"
garamontOPEN-semicolon3 = "\232"
garamontOPEN-less3 = "\233"
garamontOPEN-equal3 = "\234"
garamontOPEN-greater3 = "\235"
garamontOPEN-question3 = "\236"
garamontOPEN-at3 = "\237"
garamontOPEN-A3 = "\238"
garamontOPEN-B3 = "\239"
garamontOPEN-C3 = "\23a"
garamontOPEN-D3 = "\23b"
garamontOPEN-E3 = "\23c"
garamontOPEN-F3 = "\23d"
garamontOPEN-G3 = "\23e"
garamontOPEN-H3 = "\23f"
garamontOPEN-I3 = "\240"
garamontOPEN-J3 = "\241"
garamontOPEN-K3 = "\242"
garamontOPEN-L3 = "\243"
garamontOPEN-M3 = "\244"
garamontOPEN-N3 = "\245"
garamontOPEN-O3 = "\246"
garamontOPEN-P3 = "\247"
garamontOPEN-Q3 = "\248"
garamontOPEN-R3 = "\249"
garamontOPEN-S3 = "\24a"
garamontOPEN-T3 = "\24b"
garamontOPEN-U3 = "\24c"
garamontOPEN-V3 = "\24d"
garamontOPEN-W3 = "\24e"
garamontOPEN-X3 = "\24f"
garamontOPEN-Y3 = "\250"
garamontOPEN-Z3 = "\251"
garamontOPEN-bracketleft3 = "\252"
garamontOPEN-backslash3 = "\253"
garamontOPEN-bracketright3 = "\254"
garamontOPEN-asciicircum3 = "\255"
garamontOPEN-underscore3 = "\256"
garamontOPEN-grave3 = "\257"
garamontOPEN-a3 = "\258"
garamontOPEN-b3 = "\259"
garamontOPEN-c3 = "\25a"
garamontOPEN-d3 = "\25b"
garamontOPEN-e3 = "\25c"
garamontOPEN-f3 = "\25d"
garamontOPEN-g3 = "\25e"
garamontOPEN-h3 = "\25f"
garamontOPEN-i3 = "\260"
garamontOPEN-j3 = "\261"
garamontOPEN-k3 = "\262"
garamontOPEN-l3 = "\263"
garamontOPEN-m3 = "\264"
garamontOPEN-n3 = "\265"
garamontOPEN-o3 = "\266"
garamontOPEN-p3 = "\267"
garamontOPEN-q3 = "\268"
garamontOPEN-r3 = "\269"
garamontOPEN-s3 = "\26a"
garamontOPEN-t3 = "\26b"
garamontOPEN-u3 = "\26c"
garamontOPEN-v3 = "\26d"
garamontOPEN-w3 = "\26e"
garamontOPEN-x3 = "\26f"
garamontOPEN-y3 = "\270"
garamontOPEN-z3 = "\271"
garamontOPEN-braceleft3 = "\272"
garamontOPEN-bar3 = "\273"
garamontOPEN-braceright3 = "\274"
garamontOPEN-asciitilde3 = "\275"
garamontOPEN-afii100516 = "\e93f"
garamontOPEN-afii100517 = "\51c"
garamontOPEN-afii100526 = "\e940"
garamontOPEN-afii100527 = "\51d"
garamontOPEN-afii100616 = "\e941"
garamontOPEN-afii100617 = "\51e"
garamontOPEN-afii100606 = "\e942"
garamontOPEN-afii100607 = "\51f"
garamontOPEN-afii101456 = "\e943"
garamontOPEN-afii101457 = "\520"
garamontOPEN-afii100996 = "\e944"
garamontOPEN-afii100997 = "\521"
garamontOPEN-afii101096 = "\e945"
garamontOPEN-afii101097 = "\522"
garamontOPEN-afii101086 = "\e946"
garamontOPEN-afii101087 = "\523"
garamontOPEN-afii100626 = "\276"
garamontOPEN-afii100627 = "\524"
garamontOPEN-afii101106 = "\277"
garamontOPEN-afii101107 = "\525"
garamontOPEN-afii100576 = "\278"
garamontOPEN-afii100577 = "\526"
garamontOPEN-currency3 = "\279"
garamontOPEN-CyrHardG5 = "\27a"
garamontOPEN-CyrHardG6 = "\527"
garamontOPEN-brokenbar3 = "\27b"
garamontOPEN-section4 = "\27c"
garamontOPEN-afii100236 = "\27d"
garamontOPEN-afii100237 = "\528"
garamontOPEN-copyright3 = "\27e"
garamontOPEN-afii100535 = "\27f"
garamontOPEN-afii100536 = "\529"
garamontOPEN-guillemotleft3 = "\280"
garamontOPEN-logicalnot3 = "\281"
garamontOPEN-registered3 = "\282"
garamontOPEN-afii100566 = "\283"
garamontOPEN-afii100567 = "\52a"
garamontOPEN-degree3 = "\284"
garamontOPEN-plusminus3 = "\285"
garamontOPEN-afii100556 = "\286"
garamontOPEN-afii100557 = "\52b"
garamontOPEN-afii101036 = "\287"
garamontOPEN-afii101037 = "\52c"
garamontOPEN-cyrhardg6 = "\288"
garamontOPEN-cyrhardg7 = "\52d"
garamontOPEN-mu3 = "\289"
garamontOPEN-paragraph3 = "\28a"
garamontOPEN-afii100716 = "\28b"
garamontOPEN-afii100717 = "\52e"
garamontOPEN-afii613525 = "\28c"
garamontOPEN-afii613526 = "\2119"
garamontOPEN-afii101015 = "\28d"
garamontOPEN-afii101016 = "\52f"
garamontOPEN-guillemotright3 = "\28e"
garamontOPEN-afii101055 = "\28f"
garamontOPEN-afii101056 = "\530"
garamontOPEN-afii100545 = "\290"
garamontOPEN-afii100546 = "\531"
garamontOPEN-afii101025 = "\291"
garamontOPEN-afii101026 = "\532"
garamontOPEN-afii101045 = "\292"
garamontOPEN-afii101046 = "\533"
garamontOPEN-afii100175 = "\293"
garamontOPEN-afii100176 = "\534"
garamontOPEN-afii100185 = "\294"
garamontOPEN-afii100186 = "\535"
garamontOPEN-afii100195 = "\295"
garamontOPEN-afii100196 = "\536"
garamontOPEN-afii100205 = "\296"
garamontOPEN-afii100206 = "\537"
garamontOPEN-afii100215 = "\297"
garamontOPEN-afii100216 = "\538"
garamontOPEN-afii100225 = "\298"
garamontOPEN-afii100226 = "\539"
garamontOPEN-afii100245 = "\299"
garamontOPEN-afii100246 = "\53a"
garamontOPEN-afii100255 = "\29a"
garamontOPEN-afii100256 = "\53b"
garamontOPEN-afii100265 = "\29b"
garamontOPEN-afii100266 = "\53c"
garamontOPEN-afii100275 = "\29c"
garamontOPEN-afii100276 = "\53d"
garamontOPEN-afii100285 = "\29d"
garamontOPEN-afii100286 = "\53e"
garamontOPEN-afii100295 = "\29e"
garamontOPEN-afii100296 = "\53f"
garamontOPEN-afii100305 = "\29f"
garamontOPEN-afii100306 = "\540"
garamontOPEN-afii100315 = "\2a0"
garamontOPEN-afii100316 = "\541"
garamontOPEN-afii100325 = "\2a1"
garamontOPEN-afii100326 = "\542"
garamontOPEN-afii100335 = "\2a2"
garamontOPEN-afii100336 = "\543"
garamontOPEN-afii100345 = "\2a3"
garamontOPEN-afii100346 = "\544"
garamontOPEN-afii100355 = "\2a4"
garamontOPEN-afii100356 = "\545"
garamontOPEN-afii100365 = "\2a5"
garamontOPEN-afii100366 = "\546"
garamontOPEN-afii100375 = "\2a6"
garamontOPEN-afii100376 = "\547"
garamontOPEN-afii100385 = "\2a7"
garamontOPEN-afii100386 = "\548"
garamontOPEN-afii100395 = "\2a8"
garamontOPEN-afii100396 = "\549"
garamontOPEN-afii100405 = "\2a9"
garamontOPEN-afii100406 = "\54a"
garamontOPEN-afii100415 = "\2aa"
garamontOPEN-afii100416 = "\54b"
garamontOPEN-afii100425 = "\2ab"
garamontOPEN-afii100426 = "\54c"
garamontOPEN-afii100435 = "\2ac"
garamontOPEN-afii100436 = "\54d"
garamontOPEN-afii100445 = "\2ad"
garamontOPEN-afii100446 = "\54e"
garamontOPEN-afii100455 = "\2ae"
garamontOPEN-afii100456 = "\54f"
garamontOPEN-afii100465 = "\2af"
garamontOPEN-afii100466 = "\550"
garamontOPEN-afii100475 = "\2b0"
garamontOPEN-afii100476 = "\551"
garamontOPEN-afii100485 = "\2b1"
garamontOPEN-afii100486 = "\552"
garamontOPEN-afii100495 = "\2b2"
garamontOPEN-afii100496 = "\553"
garamontOPEN-afii100655 = "\2b3"
garamontOPEN-afii100656 = "\554"
garamontOPEN-afii100665 = "\2b4"
garamontOPEN-afii100666 = "\555"
garamontOPEN-afii100675 = "\2b5"
garamontOPEN-afii100676 = "\556"
garamontOPEN-afii100682 = "\2b6"
garamontOPEN-afii100683 = "\557"
garamontOPEN-afii100695 = "\2b7"
garamontOPEN-afii100696 = "\558"
garamontOPEN-afii100705 = "\2b8"
garamontOPEN-afii100706 = "\559"
garamontOPEN-afii100725 = "\2b9"
garamontOPEN-afii100726 = "\55a"
garamontOPEN-afii100735 = "\2ba"
garamontOPEN-afii100736 = "\55b"
garamontOPEN-afii100745 = "\2bb"
garamontOPEN-afii100746 = "\55c"
garamontOPEN-afii100755 = "\2bc"
garamontOPEN-afii100756 = "\55d"
garamontOPEN-glyph1771 = "\2bd"
garamontOPEN-glyph1772 = "\55e"
garamontOPEN-afii100775 = "\2be"
garamontOPEN-afii100776 = "\55f"
garamontOPEN-afii100785 = "\2bf"
garamontOPEN-afii100786 = "\560"
garamontOPEN-afii100795 = "\2c0"
garamontOPEN-afii100796 = "\561"
garamontOPEN-afii100805 = "\2c1"
garamontOPEN-afii100806 = "\562"
garamontOPEN-afii100815 = "\2c2"
garamontOPEN-afii100816 = "\563"
garamontOPEN-afii100825 = "\2c3"
garamontOPEN-afii100826 = "\564"
garamontOPEN-afii100835 = "\2c4"
garamontOPEN-afii100836 = "\565"
garamontOPEN-afii100845 = "\2c5"
garamontOPEN-afii100846 = "\566"
garamontOPEN-glyph1912 = "\2ca"
garamontOPEN-glyph1913 = "\567"
garamontOPEN-afii100865 = "\2cb"
garamontOPEN-afii100866 = "\568"
garamontOPEN-afii100875 = "\2cc"
garamontOPEN-afii100876 = "\569"
garamontOPEN-afii100885 = "\2cd"
garamontOPEN-afii100886 = "\56a"
garamontOPEN-afii100895 = "\2ce"
garamontOPEN-afii100896 = "\56b"
garamontOPEN-afii100905 = "\2cf"
garamontOPEN-afii100906 = "\56c"
garamontOPEN-afii100915 = "\2d0"
garamontOPEN-afii100916 = "\56d"
garamontOPEN-afii100925 = "\2d1"
garamontOPEN-afii100926 = "\56e"
garamontOPEN-afii100935 = "\2d2"
garamontOPEN-afii100936 = "\56f"
garamontOPEN-afii100945 = "\2d3"
garamontOPEN-afii100946 = "\570"
garamontOPEN-afii100955 = "\2d4"
garamontOPEN-afii100956 = "\571"
garamontOPEN-afii100965 = "\2d5"
garamontOPEN-afii100966 = "\572"
garamontOPEN-afii100975 = "\2d6"
garamontOPEN-afii100976 = "\573"
garamontOPEN-afii100595 = "\2d7"
garamontOPEN-afii100596 = "\574"
garamontOPEN-afii101075 = "\2d9"
garamontOPEN-afii101076 = "\575"
garamontOPEN-afii100585 = "\2da"
garamontOPEN-afii100586 = "\576"
garamontOPEN-afii101065 = "\2db"
garamontOPEN-afii101066 = "\577"
garamontOPEN-afii101935 = "\2df"
garamontOPEN-afii101936 = "\578"
garamontOPEN-afii101005 = "\2e0"
garamontOPEN-afii101006 = "\579"
garamontOPEN-Accent3 = "\2e1"
garamontOPEN-accent3 = "\2e2"
garamontOPEN-endash3 = "\2040"
garamontOPEN-emdash3 = "\2041"
garamontOPEN-quoteleft3 = "\2042"
garamontOPEN-quoteright3 = "\2043"
garamontOPEN-quotesinglbase3 = "\2044"
garamontOPEN-quotedblleft3 = "\2045"
garamontOPEN-quotedblright3 = "\2046"
garamontOPEN-quotedblbase3 = "\2047"
garamontOPEN-dagger3 = "\2048"
garamontOPEN-daggerdbl3 = "\2049"
garamontOPEN-bullet6 = "\204a"
garamontOPEN-bullet7 = "\f007"
garamontOPEN-ellipsis3 = "\204b"
garamontOPEN-perthousand3 = "\204c"
garamontOPEN-guilsinglleft3 = "\204d"
garamontOPEN-guilsinglright3 = "\204e"
garamontOPEN-trademark3 = "\2125"
garamontOPEN-periodcentered3 = "\221d"
garamontOPEN-fi3 = "\f008"
garamontOPEN-uniF0023 = "\f009"
garamontOPEN-sterling3 = "\e947"
garamontOPEN-NotEqual3 = "\e948"
garamontOPEN-glyph1443 = "\e949"
garamontOPEN-infinity3 = "\e94a"
garamontOPEN-lessequal3 = "\e94b"
garamontOPEN-greaterequal3 = "\e94c"
garamontOPEN-glyph157 = "\e94d"
garamontOPEN-glyph1582 = "\e94e"
garamontOPEN-radical3 = "\e94f"
garamontOPEN-florin3 = "\e950"
garamontOPEN-approxequal3 = "\e951"
garamontOPEN-Delta3 = "\e952"
garamontOPEN-glyph1782 = "\e953"
garamontOPEN-divide3 = "\e954"
garamontOPEN-glyph189 = "\e955"
garamontOPEN-glyph1922 = "\e956"
garamontOPEN-Freinet = "\1f472"
garamontOPEN-OPENerasmus-path1 = "\1f300"
garamontOPEN-OPENerasmus-path2 = "\1f302"
garamontOPEN-OPENerasmus-path3 = "\1f303"
garamontOPEN-OPENerasmus-path4 = "\1f304"
garamontOPEN-OPENerasmus-path5 = "\1f305"
garamontOPEN-OPENlogo = "\1f30c"
garamontOPEN-GaramondO = "\1f35b"
garamontOPEN-Man-path1 = "\1f468"
garamontOPEN-Man-path2 = "\1f469"
garamontOPEN-Woman-path1 = "\1f46a"
garamontOPEN-Woman-path2 = "\1f46b"
garamontOPEN-Clover-path1 = "\1f340"
garamontOPEN-Clover-path2 = "\1f341"
garamontOPEN-Sign1Col-path1 = "\1f301"
garamontOPEN-Sign1Col-path2 = "\1f306"
garamontOPEN-Sign1Col-path3 = "\1f307"
garamontOPEN-Sign1Col-path4 = "\1f308"
garamontOPEN-Sign2Col-path1 = "\1f309"
garamontOPEN-Sign2Col-path2 = "\1f30a"
garamontOPEN-Sign2Col-path3 = "\1f30b"
garamontOPEN-Sign2Col-path4 = "\1f30d"
garamontOPEN-Sign3Col-path1 = "\1f311"
garamontOPEN-Sign3Col-path2 = "\1f312"
garamontOPEN-Sign3Col-path3 = "\1f313"
garamontOPEN-Sign3Col-path4 = "\1f314"
garamontOPEN-Sign4Col-path1 = "\1f315"
garamontOPEN-Sign4Col-path2 = "\1f316"
garamontOPEN-Sign4Col-path3 = "\1f317"
garamontOPEN-Sign4Col-path4 = "\1f318"
garamontOPEN-Sign5Col-path1 = "\1f32e"
garamontOPEN-Sign5Col-path2 = "\1f335"
garamontOPEN-Sign5Col-path3 = "\1f336"
garamontOPEN-Sign5Col-path4 = "\1f33b"
garamontOPEN-InfinityBlue-path1 = "\1f31a"
garamontOPEN-InfinityBlue-path2 = "\1f31b"
garamontOPEN-InfinityBlue-path3 = "\1f31c"
garamontOPEN-InfinityBlue-path4 = "\1f31d"
garamontOPEN-InfinityRed-path1 = "\1f320"
garamontOPEN-InfinityRed-path2 = "\1f321"
garamontOPEN-InfinityRed-path3 = "\1f322"
garamontOPEN-InfinityRed-path4 = "\1f327"
garamontOPEN-Atention-path1 = "\1f32d"
garamontOPEN-Atention-path2 = "\1f32f"
garamontOPEN-Atention-path3 = "\1f330"
garamontOPEN-Atention-path4 = "\1f331"
garamontOPEN-Atention-path5 = "\1f332"
garamontOPEN-Atention-path6 = "\1f333"
garamontOPEN-Back-path1 = "\1f334"
garamontOPEN-Back-path2 = "\1f33c"
garamontOPEN-Back-path3 = "\1f33d"
garamontOPEN-Back-path4 = "\1f33e"
garamontOPEN-Forword-path1 = "\1f337"
garamontOPEN-Forword-path2 = "\1f338"
garamontOPEN-Forword-path3 = "\1f339"
garamontOPEN-Forword-path4 = "\1f33a"
garamontOPEN-Pause-path1 = "\1f342"
garamontOPEN-Pause-path2 = "\1f343"
garamontOPEN-Pause-path3 = "\1f344"
garamontOPEN-Pause-path4 = "\1f345"
garamontOPEN-Pause-path5 = "\1f346"
garamontOPEN-Pause-path6 = "\1f39c"
garamontOPEN-Start-path1 = "\1f347"
garamontOPEN-Start-path2 = "\1f348"
garamontOPEN-Start-path3 = "\1f349"
garamontOPEN-Start-path4 = "\1f34a"
garamontOPEN-Start-path5 = "\1f34b"
garamontOPEN-Start-path6 = "\1f34c"
garamontOPEN-Start-path7 = "\1f34d"
garamontOPEN-Start-path8 = "\1f34e"
garamontOPEN-Backword-path1 = "\1f34f"
garamontOPEN-Backword-path2 = "\1f350"
garamontOPEN-Backword-path3 = "\1f351"
garamontOPEN-Backword-path4 = "\1f352"
garamontOPEN-Backword-path5 = "\1f353"
garamontOPEN-Backword-path6 = "\1f354"
garamontOPEN-Backword-path7 = "\1f355"
garamontOPEN-Backword-path8 = "\1f356"
garamontOPEN-Next-path1 = "\1f357"
garamontOPEN-Next-path2 = "\1f358"
garamontOPEN-Next-path3 = "\1f359"
garamontOPEN-Next-path4 = "\1f35a"
garamontOPEN-Next-path5 = "\1f35c"
garamontOPEN-Next-path6 = "\1f35d"
garamontOPEN-Next-path7 = "\1f35e"
garamontOPEN-Next-path8 = "\1f35f"
garamontOPEN-Down-path1 = "\1f360"
garamontOPEN-Down-path2 = "\1f361"
garamontOPEN-Down-path3 = "\1f362"
garamontOPEN-Down-path4 = "\1f363"
garamontOPEN-Down-path5 = "\1f364"
garamontOPEN-Down-path6 = "\1f365"
garamontOPEN-Up-path1 = "\1f36c"
garamontOPEN-Up-path2 = "\1f36d"
garamontOPEN-Up-path3 = "\1f36e"
garamontOPEN-Up-path4 = "\1f36f"
garamontOPEN-Up-path5 = "\1f370"
garamontOPEN-Up-path6 = "\1f371"
garamontOPEN-Return-path1 = "\1f366"
garamontOPEN-Return-path2 = "\1f367"
garamontOPEN-Return-path3 = "\1f368"
garamontOPEN-Return-path4 = "\1f369"
garamontOPEN-Return-path5 = "\1f36a"
garamontOPEN-Return-path6 = "\1f36b"
garamontOPEN-Skip-path1 = "\1f372"
garamontOPEN-Skip-path2 = "\1f373"
garamontOPEN-Skip-path3 = "\1f374"
garamontOPEN-Skip-path4 = "\1f375"
garamontOPEN-Skip-path5 = "\1f376"
garamontOPEN-Skip-path6 = "\1f377"
garamontOPEN-Get-Media-path1 = "\1f378"
garamontOPEN-Get-Media-path2 = "\1f379"
garamontOPEN-Get-Media-path3 = "\1f37a"
garamontOPEN-Get-Media-path4 = "\1f37b"
garamontOPEN-Get-Media-path5 = "\1f37c"
garamontOPEN-Get-Media-path6 = "\1f37d"
garamontOPEN-Stop-path1 = "\1f37e"
garamontOPEN-Stop-path2 = "\1f37f"
garamontOPEN-Stop-path3 = "\1f380"
garamontOPEN-Stop-path4 = "\1f381"
garamontOPEN-Record-path1 = "\1f382"
garamontOPEN-Record-path2 = "\1f383"
garamontOPEN-Record-path3 = "\1f384"
garamontOPEN-Record-path4 = "\1f385"
garamontOPEN-World-Map-path1 = "\1f386"
garamontOPEN-World-Map-path2 = "\1f387"
garamontOPEN-World-Map-path3 = "\1f388"
garamontOPEN-World-Map-path4 = "\1f389"
garamontOPEN-World-Map-path5 = "\1f38a"
garamontOPEN-World-Map-path6 = "\1f38b"
garamontOPEN-World-Map-path7 = "\1f38c"
garamontOPEN-World-Map-path8 = "\1f38d"
garamontOPEN-World-Map-path9 = "\1f38e"
garamontOPEN-World-Map-path10 = "\1f38f"
garamontOPEN-World-Map-path11 = "\1f390"
garamontOPEN-World-Map-path12 = "\1f391"
garamontOPEN-World-Map-path13 = "\1f392"
garamontOPEN-World-Map-path14 = "\1f393"
garamontOPEN-World-Map-path15 = "\1f394"
garamontOPEN-World-Map-path16 = "\1f395"
garamontOPEN-World-Map-path17 = "\1f396"
garamontOPEN-World-Map-path18 = "\1f397"
garamontOPEN-World-Map-path19 = "\1f398"
garamontOPEN-World-Map-path20 = "\1f39a"
garamontOPEN-World-Map-path21 = "\1f39b"
garamontOPEN-Newspaper-path1 = "\1f33f"
garamontOPEN-Newspaper-path2 = "\1f39d"
garamontOPEN-Newspaper-path3 = "\1f39f"
garamontOPEN-Newspaper-path4 = "\1f3a0"
garamontOPEN-Newspaper-path5 = "\1f3a1"
garamontOPEN-Newspaper-path6 = "\1f3a2"
garamontOPEN-Newspaper-path7 = "\1f3a3"
garamontOPEN-Newspaper-path8 = "\1f3a4"
garamontOPEN-Newspaper-path9 = "\1f3a5"
garamontOPEN-Newspaper-path10 = "\1f3a6"
garamontOPEN-Newspaper-path11 = "\1f3a7"
garamontOPEN-Newspaper-path12 = "\1f3a8"
garamontOPEN-Newspaper-path13 = "\1f3a9"
garamontOPEN-Newspaper-path14 = "\1f3aa"
garamontOPEN-Newspaper-path15 = "\1f3ab"
garamontOPEN-Newspaper-path16 = "\1f3ac"
garamontOPEN-Newspaper-path17 = "\1f3ad"
garamontOPEN-Newspaper-path18 = "\1f3af"
garamontOPEN-Documents-path1 = "\1f4c2"
garamontOPEN-Documents-path2 = "\1f4c3"
garamontOPEN-Documents-path3 = "\1f4c4"
garamontOPEN-Documents-path4 = "\1f4c5"
garamontOPEN-Documents-path5 = "\1f4c6"
garamontOPEN-Documents-path6 = "\1f4c7"
garamontOPEN-Documents-path7 = "\1f4c8"
garamontOPEN-Documents-path8 = "\1f4c9"
garamontOPEN-Documents-path9 = "\1f4ca"
garamontOPEN-Documents-path10 = "\1f4cb"
garamontOPEN-Documents-path11 = "\1f4cc"
garamontOPEN-Documents-path12 = "\1f4cd"
garamontOPEN-Documents-path13 = "\1f4ce"
garamontOPEN-Camera-path1 = "\1f4f8"
garamontOPEN-Camera-path2 = "\1f4fa"
garamontOPEN-Camera-path3 = "\1f4fb"
garamontOPEN-Camera-path4 = "\1f4fc"
garamontOPEN-Camera-path5 = "\1f4fe"
garamontOPEN-Camera-path6 = "\1f4ff"
garamontOPEN-Camera-path7 = "\1f519"
garamontOPEN-Camera-path8 = "\1f51a"
garamontOPEN-Camera-path9 = "\1f51b"
garamontOPEN-Camera-path10 = "\1f51c"
garamontOPEN-Camera-path11 = "\1f51d"
garamontOPEN-Camera-path12 = "\1f51e"
garamontOPEN-Camera-path13 = "\1f51f"
garamontOPEN-Camera-path14 = "\1f520"
garamontOPEN-Camera-path15 = "\1f521"
garamontOPEN-Camera-path16 = "\1f522"
garamontOPEN-Camera-path17 = "\1f523"
garamontOPEN-Camera-path18 = "\1f524"
garamontOPEN-Camera-path19 = "\1f525"
garamontOPEN-Camera-path20 = "\1f526"
garamontOPEN-Camera-path21 = "\1f527"
garamontOPEN-Camera-path22 = "\1f528"
garamontOPEN-Camera-path23 = "\1f529"
garamontOPEN-Camera-path24 = "\1f52a"
garamontOPEN-Camera-path25 = "\1f52b"
garamontOPEN-Mobile-path1 = "\1f4f1"
garamontOPEN-Mobile-path2 = "\1f4f2"
garamontOPEN-Mobile-path3 = "\1f4f3"
garamontOPEN-Mobile-path4 = "\1f4f4"
garamontOPEN-Mobile-path5 = "\1f4f5"
garamontOPEN-Mobile-path6 = "\1f4f6"
garamontOPEN-Mobile-path7 = "\1f52c"
garamontOPEN-Mobile-path8 = "\1f52d"
garamontOPEN-Mobile-path9 = "\1f52e"
garamontOPEN-Mobile-path10 = "\1f52f"
garamontOPEN-Mobile-path11 = "\1f530"
garamontOPEN-Mobile-path12 = "\1f531"
garamontOPEN-Mobile-path13 = "\1f532"
garamontOPEN-Mobile-path14 = "\1f533"
garamontOPEN-Mobile-path15 = "\1f534"
garamontOPEN-Articles-path1 = "\1f4cf"
garamontOPEN-Articles-path2 = "\1f4d0"
garamontOPEN-Articles-path3 = "\1f4d1"
garamontOPEN-Articles-path4 = "\1f4d2"
garamontOPEN-Articles-path5 = "\1f4d3"
garamontOPEN-Articles-path6 = "\1f4d4"
garamontOPEN-Articles-path7 = "\1f4d5"
garamontOPEN-Articles-path8 = "\1f4d6"
garamontOPEN-Articles-path9 = "\1f4d7"
garamontOPEN-Writing-path1 = "\1f4e1"
garamontOPEN-Writing-path2 = "\1f4e8"
garamontOPEN-Writing-path3 = "\1f4e9"
garamontOPEN-Writing-path4 = "\1f4ea"
garamontOPEN-Writing-path5 = "\1f4eb"
garamontOPEN-Writing-path6 = "\1f4ee"
garamontOPEN-Writing-path7 = "\1f4ef"
garamontOPEN-Writing-path8 = "\1f4f0"
garamontOPEN-Writing-path9 = "\1f536"
garamontOPEN-Writing-path10 = "\1f537"
garamontOPEN-Writing-path11 = "\1f538"
garamontOPEN-Writing-path12 = "\1f539"
garamontOPEN-Writing-path13 = "\1f53a"
garamontOPEN-Writing-path14 = "\1f53b"
garamontOPEN-Writing-path15 = "\1f53c"
garamontOPEN-Writing-path16 = "\1f53d"
garamontOPEN-Writing-path17 = "\1f53e"
garamontOPEN-Writing-path18 = "\1f53f"
garamontOPEN-Writing-path19 = "\1f5e6"
garamontOPEN-Writing-path20 = "\1f5e7"
garamontOPEN-Writing-path21 = "\1f5e8"
garamontOPEN-12321-path1 = "\1f541"
garamontOPEN-12321-path2 = "\1f542"
garamontOPEN-12321-path3 = "\1f543"
garamontOPEN-12321-path4 = "\1f544"
garamontOPEN-12321-path5 = "\1f545"
garamontOPEN-12321-path6 = "\1f546"
garamontOPEN-12321-path7 = "\1f547"
garamontOPEN-12321-path8 = "\1f548"
garamontOPEN-12321-path9 = "\1f549"
garamontOPEN-12321-path10 = "\1f54b"
garamontOPEN-12321-path11 = "\1f54c"
garamontOPEN-12321-path12 = "\1f54d"
garamontOPEN-12321-path13 = "\1f66f"
garamontOPEN-Library-path1 = "\1f54e"
garamontOPEN-Library-path2 = "\1f54f"
garamontOPEN-Library-path3 = "\1f550"
garamontOPEN-Library-path4 = "\1f551"
garamontOPEN-Library-path5 = "\1f552"
garamontOPEN-Library-path6 = "\1f553"
garamontOPEN-Library-path7 = "\1f554"
garamontOPEN-Library-path8 = "\1f555"
garamontOPEN-Library-path9 = "\1f556"
garamontOPEN-Library-path10 = "\1f557"
garamontOPEN-Library-path11 = "\1f558"
garamontOPEN-Library-path12 = "\1f599"
garamontOPEN-Open-Book-path1 = "\1f559"
garamontOPEN-Open-Book-path2 = "\1f55a"
garamontOPEN-Open-Book-path3 = "\1f55b"
garamontOPEN-Open-Book-path4 = "\1f55c"
garamontOPEN-Open-Book-path5 = "\1f55d"
garamontOPEN-Open-Book-path6 = "\1f55e"
garamontOPEN-Open-Book-path7 = "\1f55f"
garamontOPEN-Open-Book-path8 = "\1f560"
garamontOPEN-Open-Book-path9 = "\1f561"
garamontOPEN-Open-Book-path10 = "\1f562"
garamontOPEN-Open-Book-path11 = "\1f563"
garamontOPEN-Open-Book-path12 = "\1f564"
garamontOPEN-Open-Book-path13 = "\1f565"
garamontOPEN-Open-Book-path14 = "\1f590"
garamontOPEN-Notebook-path1 = "\1f581"
garamontOPEN-Notebook-path2 = "\1f584"
garamontOPEN-Notebook-path3 = "\1f585"
garamontOPEN-Notebook-path4 = "\1f587"
garamontOPEN-Notebook-path5 = "\1f588"
garamontOPEN-Notebook-path6 = "\1f589"
garamontOPEN-Notebook-path7 = "\1f58a"
garamontOPEN-Notebook-path8 = "\1f58b"
garamontOPEN-Notebook-path9 = "\1f58c"
garamontOPEN-Notebook-path10 = "\1f58d"
garamontOPEN-Notebook-path11 = "\1f58e"
garamontOPEN-Notebook-path12 = "\1f58f"
garamontOPEN-Yelow-Microphone-path1 = "\1f3be"
garamontOPEN-Yelow-Microphone-path2 = "\1f3bf"
garamontOPEN-Yelow-Microphone-path3 = "\1f3c0"
garamontOPEN-Yelow-Microphone-path4 = "\1f3c1"
garamontOPEN-Yelow-Microphone-path5 = "\1f3c2"
garamontOPEN-Yelow-Microphone-path6 = "\1f3c3"
garamontOPEN-Yelow-Microphone-path7 = "\1f3c4"
garamontOPEN-Yelow-Microphone-path8 = "\1f3c5"
garamontOPEN-Yelow-Microphone-path9 = "\1f3c7"
garamontOPEN-Yelow-Microphone-path10 = "\1f3e2"
garamontOPEN-Yelow-Earphone-path1 = "\1f3b0"
garamontOPEN-Yelow-Earphone-path2 = "\1f3b1"
garamontOPEN-Yelow-Earphone-path3 = "\1f3b2"
garamontOPEN-Yelow-Earphone-path4 = "\1f3b3"
garamontOPEN-Yelow-Earphone-path5 = "\1f3b4"
garamontOPEN-Yelow-Earphone-path6 = "\1f3b5"
garamontOPEN-Yelow-Earphone-path7 = "\1f3b6"
garamontOPEN-Yelow-Earphone-path8 = "\1f3b7"
garamontOPEN-Yelow-Earphone-path9 = "\1f3b8"
garamontOPEN-Yelow-Earphone-path10 = "\1f3b9"
garamontOPEN-Yelow-Earphone-path11 = "\1f3ba"
garamontOPEN-Yelow-Earphone-path12 = "\1f3bb"
garamontOPEN-12312-path1 = "\1f4d8"
garamontOPEN-12312-path2 = "\1f566"
garamontOPEN-12312-path3 = "\1f567"
garamontOPEN-12312-path4 = "\1f568"
garamontOPEN-12312-path5 = "\1f569"
garamontOPEN-12312-path6 = "\1f56a"
garamontOPEN-12312-path7 = "\1f56d"
garamontOPEN-12312-path8 = "\1f56f"
garamontOPEN-12312-path9 = "\1f570"
garamontOPEN-12312-path10 = "\1f571"
garamontOPEN-12312-path11 = "\1f572"
garamontOPEN-12312-path12 = "\1f573"
garamontOPEN-12312-path13 = "\1f574"
garamontOPEN-12312-path14 = "\1f575"
garamontOPEN-12312-path15 = "\1f576"
garamontOPEN-12312-path16 = "\1f57a"
garamontOPEN-12312-path17 = "\1f57b"
garamontOPEN-12312-path18 = "\1f57c"
garamontOPEN-12312-path19 = "\1f57d"
garamontOPEN-12312-path20 = "\1f57f"
garamontOPEN-12312-path21 = "\1f580"
garamontOPEN-Catalog-path1 = "\1f4d9"
garamontOPEN-Catalog-path2 = "\1f591"
garamontOPEN-Catalog-path3 = "\1f592"
garamontOPEN-Catalog-path4 = "\1f593"
garamontOPEN-Catalog-path5 = "\1f594"
garamontOPEN-Catalog-path6 = "\1f595"
garamontOPEN-Catalog-path7 = "\1f596"
garamontOPEN-Catalog-path8 = "\1f597"
garamontOPEN-Catalog-path9 = "\1f598"
garamontOPEN-Calendar-path1 = "\1f4db"
garamontOPEN-Calendar-path2 = "\1f59a"
garamontOPEN-Calendar-path3 = "\1f59b"
garamontOPEN-Calendar-path4 = "\1f59c"
garamontOPEN-Calendar-path5 = "\1f59d"
garamontOPEN-Calendar-path6 = "\1f59e"
garamontOPEN-Calendar-path7 = "\1f59f"
garamontOPEN-Calendar-path8 = "\1f5a0"
garamontOPEN-Calendar-path9 = "\1f5a1"
garamontOPEN-Calendar-path10 = "\1f5a2"
garamontOPEN-Calendar-path11 = "\1f5a3"
garamontOPEN-Calendar-path12 = "\1f5a4"
garamontOPEN-List-path1 = "\1f4de"
garamontOPEN-List-path2 = "\1f5e9"
garamontOPEN-List-path3 = "\1f5ea"
garamontOPEN-List-path4 = "\1f5ec"
garamontOPEN-Bookcase-path1 = "\1f45c"
garamontOPEN-Bookcase-path2 = "\1f45d"
garamontOPEN-Bookcase-path3 = "\1f45e"
garamontOPEN-Bookcase-path4 = "\1f45f"
garamontOPEN-Bookcase-path5 = "\1f460"
garamontOPEN-Bookcase-path6 = "\1f461"
garamontOPEN-Bookcase-path7 = "\1f462"
garamontOPEN-Bookcase-path8 = "\1f463"
garamontOPEN-Bookcase-path9 = "\1f464"
garamontOPEN-Bookcase-path10 = "\1f465"
garamontOPEN-Bookcase-path11 = "\1f466"
garamontOPEN-Bookcase-path12 = "\1f467"
garamontOPEN-Bookcase-path13 = "\1f46c"
garamontOPEN-Bookcase-path14 = "\1f46d"
garamontOPEN-Bookcase-path15 = "\1f46e"
garamontOPEN-Bookcase-path16 = "\1f46f"
garamontOPEN-Bookcase-path17 = "\1f470"
garamontOPEN-Bookcase-path18 = "\1f471"
garamontOPEN-Bookcase-path19 = "\1f477"
garamontOPEN-Bookcase-path20 = "\1f478"
garamontOPEN-Bookcase-path21 = "\1f479"
garamontOPEN-Bookcase-path22 = "\1f47a"
garamontOPEN-Bookcase-path23 = "\1f47b"
garamontOPEN-Bookcase-path24 = "\1f47c"
garamontOPEN-Bookcase-path25 = "\1f47d"
garamontOPEN-Bookcase-path26 = "\1f47e"
garamontOPEN-Bookcase-path27 = "\1f47f"
garamontOPEN-Bookcase-path28 = "\1f480"
garamontOPEN-Bookcase-path29 = "\1f481"
garamontOPEN-Bookcase-path30 = "\1f482"
garamontOPEN-Bookcase-path31 = "\1f483"
garamontOPEN-Bookcase-path32 = "\1f484"
garamontOPEN-Bookcase-path33 = "\1f485"
garamontOPEN-Bookcase-path34 = "\1f486"
garamontOPEN-Bookcase-path35 = "\1f487"
garamontOPEN-Bookcase-path36 = "\1f488"
garamontOPEN-Bookcase-path37 = "\1f489"
garamontOPEN-Bookcase-path38 = "\1f48a"
garamontOPEN-Bookcase-path39 = "\1f48b"
garamontOPEN-Bookcase-path40 = "\1f48c"
garamontOPEN-Bookcase-path41 = "\1f48d"
garamontOPEN-Bookcase-path42 = "\1f48e"
garamontOPEN-Bookcase-path43 = "\1f48f"
garamontOPEN-Bookcase-path44 = "\1f490"
garamontOPEN-Bookcase-path45 = "\1f491"
garamontOPEN-Bookcase-path46 = "\1f492"
garamontOPEN-Bookcase-path47 = "\1f493"
garamontOPEN-Bookcase-path48 = "\1f494"
garamontOPEN-Bookcase-path49 = "\1f495"
garamontOPEN-Bookcase-path50 = "\1f496"
garamontOPEN-Bookcase-path51 = "\1f497"
garamontOPEN-Bookcase-path52 = "\1f498"
garamontOPEN-Bookcase-path53 = "\1f499"
garamontOPEN-Bookcase-path54 = "\1f49a"
garamontOPEN-Bookcase-path55 = "\1f49b"
garamontOPEN-Bookcase-path56 = "\1f49c"
garamontOPEN-Bookcase-path57 = "\1f49d"
garamontOPEN-Bookcase-path58 = "\1f49e"
garamontOPEN-Bookcase-path59 = "\1f49f"
garamontOPEN-Bookcase-path60 = "\1f4a0"
garamontOPEN-Bookcase-path61 = "\1f4a1"
garamontOPEN-Bookcase-path62 = "\1f4a2"
garamontOPEN-Bookcase-path63 = "\1f4a3"
garamontOPEN-Bookcase-path64 = "\1f4a4"
garamontOPEN-Bookcase-path65 = "\1f4a5"
garamontOPEN-Bookcase-path66 = "\1f4a6"
garamontOPEN-Bookcase-path67 = "\1f4a7"
garamontOPEN-Bookcase-path68 = "\1f4a8"
garamontOPEN-Bookcase-path69 = "\1f4a9"
garamontOPEN-Bookcase-path70 = "\1f4aa"
garamontOPEN-Bookcase-path71 = "\1f4ab"
garamontOPEN-Bookcase-path72 = "\1f4ac"
garamontOPEN-Bookcase-path73 = "\1f4ad"
garamontOPEN-Bookcase-path74 = "\1f4ae"
garamontOPEN-Bookcase-path75 = "\1f4af"
garamontOPEN-Bookcase-path76 = "\1f4b0"
garamontOPEN-Bookcase-path77 = "\1f4b1"
garamontOPEN-Bookcase-path78 = "\1f4b2"
garamontOPEN-Bookcase-path79 = "\1f4b3"
garamontOPEN-Bookcase-path80 = "\1f4b4"
garamontOPEN-Bookcase-path81 = "\1f4b5"
garamontOPEN-Bookcase-path82 = "\1f4b6"
garamontOPEN-Bookcase-path83 = "\1f4b7"
garamontOPEN-Bookcase-path84 = "\1f4b8"
garamontOPEN-Bookcase-path85 = "\1f4b9"
garamontOPEN-Bookcase-path86 = "\1f4ba"
garamontOPEN-Bookcase-path87 = "\1f4bc"
garamontOPEN-Bookcase-path88 = "\1f4bd"
garamontOPEN-Bookcase-path89 = "\1f4be"
garamontOPEN-Bookcase-path90 = "\1f4c0"
garamontOPEN-Bookcase-path91 = "\1f4c1"
garamontOPEN-Bookcase-path92 = "\1f5a5"
garamontOPEN-Bookcase-path93 = "\1f5a8"
garamontOPEN-Bookcase-path94 = "\1f5aa"
garamontOPEN-Bookcase-path95 = "\1f5ac"
garamontOPEN-Bookcase-path96 = "\1f5ad"
garamontOPEN-Bookcase-path97 = "\1f5b0"
garamontOPEN-Bookcase-path98 = "\1f5b4"
garamontOPEN-Bookcase-path99 = "\1f5b6"
garamontOPEN-Bookcase-path100 = "\1f5b7"
garamontOPEN-Bookcase-path101 = "\1f5b9"
garamontOPEN-Bookcase-path102 = "\1f5ba"
garamontOPEN-Bookcase-path103 = "\1f5bb"
garamontOPEN-Bookcase-path104 = "\1f5bd"
garamontOPEN-Bookcase-path105 = "\1f5c0"
garamontOPEN-Bookcase-path106 = "\1f5c2"
garamontOPEN-Bookcase-path107 = "\1f5c3"
garamontOPEN-Bookcase-path108 = "\1f5c4"
garamontOPEN-Bookcase-path109 = "\1f5c5"
garamontOPEN-Bookcase-path110 = "\1f5c6"
garamontOPEN-Bookcase-path111 = "\1f5c7"
garamontOPEN-Bookcase-path112 = "\1f5cb"
garamontOPEN-Bookcase-path113 = "\1f5cc"
garamontOPEN-Bookcase-path114 = "\1f5cd"
garamontOPEN-Bookcase-path115 = "\1f5ce"
garamontOPEN-Bookcase-path116 = "\1f5cf"
garamontOPEN-Bookcase-path117 = "\1f5d4"
garamontOPEN-Bookcase-path118 = "\1f5d5"
garamontOPEN-Bookcase-path119 = "\1f5d6"
garamontOPEN-Bookcase-path120 = "\1f5d7"
garamontOPEN-Bookcase-path121 = "\1f5d8"
garamontOPEN-Bookcase-path122 = "\1f5d9"
garamontOPEN-Bookcase-path123 = "\1f5db"
garamontOPEN-Bookcase-path124 = "\1f5dc"
garamontOPEN-Bookcase-path125 = "\1f5dd"
garamontOPEN-Bookcase-path126 = "\1f5df"
garamontOPEN-Bookcase-path127 = "\1f5e0"
garamontOPEN-Bookcase-path128 = "\1f5e1"
garamontOPEN-Bookcase-path129 = "\1f5e2"
garamontOPEN-Bookcase-path130 = "\1f5e4"
garamontOPEN-Bookcase-path131 = "\1f5e5"
garamontOPEN-Computer-path1 = "\1f4df"
garamontOPEN-Computer-path2 = "\1f5ed"
garamontOPEN-Computer-path3 = "\1f5ee"
garamontOPEN-Computer-path4 = "\1f5ef"
garamontOPEN-Computer-path5 = "\1f5f0"
garamontOPEN-Computer-path6 = "\1f5f1"
garamontOPEN-Computer-path7 = "\1f5f2"
garamontOPEN-Computer-path8 = "\1f5f4"
garamontOPEN-Computer-path9 = "\1f5f5"
garamontOPEN-Computer-path10 = "\1f5f7"
garamontOPEN-Computer-path11 = "\1f5f8"
garamontOPEN-Computer-path12 = "\1f5f9"
garamontOPEN-Computer-path13 = "\1f5fb"
garamontOPEN-Computer-path14 = "\1f5fc"
garamontOPEN-Computer-path15 = "\1f5fd"
garamontOPEN-Computer-path16 = "\1f5fe"
garamontOPEN-Computer-path17 = "\1f5ff"
garamontOPEN-Computer-path18 = "\1f600"
garamontOPEN-Computer-path19 = "\1f601"
garamontOPEN-Computer-path20 = "\1f602"
garamontOPEN-Computer-path21 = "\1f603"
garamontOPEN-Computer-path22 = "\1f604"
garamontOPEN-Computer-path23 = "\1f605"
garamontOPEN-Computer-path24 = "\1f606"
garamontOPEN-Computer-path25 = "\1f607"
garamontOPEN-Computer-path26 = "\1f608"
garamontOPEN-Computer-path27 = "\1f609"
garamontOPEN-Computer-path28 = "\1f60a"
garamontOPEN-Computer-path29 = "\1f60b"
garamontOPEN-Computer-path30 = "\1f60c"
garamontOPEN-Computer-path31 = "\1f60d"
garamontOPEN-Computer-path32 = "\1f60e"
garamontOPEN-Computer-path33 = "\1f60f"
garamontOPEN-Computer-path34 = "\1f610"
garamontOPEN-Computer-path35 = "\1f611"
garamontOPEN-Computer-path36 = "\1f612"
garamontOPEN-Computer-path37 = "\1f613"
garamontOPEN-Computer-path38 = "\1f614"
garamontOPEN-Computer-path39 = "\1f615"
garamontOPEN-Computer-path40 = "\1f616"
garamontOPEN-Computer-path41 = "\1f617"
garamontOPEN-Computer-path42 = "\1f618"
garamontOPEN-Computer-path43 = "\1f619"
garamontOPEN-Computer-path44 = "\1f61a"
garamontOPEN-Computer-path45 = "\1f61b"
garamontOPEN-Computer-path46 = "\1f61c"
garamontOPEN-Computer-path47 = "\1f61d"
garamontOPEN-Computer-path48 = "\1f61e"
garamontOPEN-Computer-path49 = "\1f61f"
garamontOPEN-Computer-path50 = "\1f620"
garamontOPEN-Computer-path51 = "\1f621"
garamontOPEN-Computer-path52 = "\1f622"
garamontOPEN-Computer-path53 = "\1f623"
garamontOPEN-Computer-path54 = "\1f624"
garamontOPEN-Computer-path55 = "\1f625"
garamontOPEN-Computer-path56 = "\1f626"
garamontOPEN-Computer-path57 = "\1f627"
garamontOPEN-Computer-path58 = "\1f628"
garamontOPEN-Computer-path59 = "\1f629"
garamontOPEN-Computer-path60 = "\1f62a"
garamontOPEN-Computer-path61 = "\1f62b"
garamontOPEN-Computer-path62 = "\1f62c"
garamontOPEN-Computer-path63 = "\1f62d"
garamontOPEN-Computer-path64 = "\1f62e"
garamontOPEN-Computer-path65 = "\1f62f"
garamontOPEN-Computer-path66 = "\1f630"
garamontOPEN-Computer-path67 = "\1f631"
garamontOPEN-Computer-path68 = "\1f632"
garamontOPEN-Computer-path69 = "\1f633"
garamontOPEN-Computer-path70 = "\1f634"
garamontOPEN-Computer-path71 = "\1f635"
garamontOPEN-Computer-path72 = "\1f636"
garamontOPEN-Computer-path73 = "\1f637"
garamontOPEN-Computer-path74 = "\1f638"
garamontOPEN-Computer-path75 = "\1f639"
garamontOPEN-Computer-path76 = "\1f63a"
garamontOPEN-Computer-path77 = "\1f63b"
garamontOPEN-Computer-path78 = "\1f63c"
garamontOPEN-Computer-path79 = "\1f63d"
garamontOPEN-Computer-path80 = "\1f63e"
garamontOPEN-Computer-path81 = "\1f63f"
garamontOPEN-Computer-path82 = "\1f640"
garamontOPEN-Computer-path83 = "\1f641"
garamontOPEN-Computer-path84 = "\1f642"
garamontOPEN-Computer-path85 = "\1f643"
garamontOPEN-Computer-path86 = "\1f644"
garamontOPEN-Computer-path87 = "\1f645"
garamontOPEN-Computer-path88 = "\1f646"
garamontOPEN-Computer-path89 = "\1f647"
garamontOPEN-Computer-path90 = "\1f648"
garamontOPEN-Computer-path91 = "\1f649"
garamontOPEN-Computer-path92 = "\1f64a"
garamontOPEN-Computer-path93 = "\1f64b"
garamontOPEN-Computer-path94 = "\1f64c"
garamontOPEN-Computer-path95 = "\1f64d"
garamontOPEN-Computer-path96 = "\1f64e"
garamontOPEN-Computer-path97 = "\1f64f"
garamontOPEN-Computer-path98 = "\1f650"
garamontOPEN-Computer-path99 = "\1f651"
garamontOPEN-Computer-path100 = "\1f652"
garamontOPEN-Computer-path101 = "\1f653"
garamontOPEN-Computer-path102 = "\1f654"
garamontOPEN-Computer-path103 = "\1f655"
garamontOPEN-Computer-path104 = "\1f656"
garamontOPEN-Computer-path105 = "\1f657"
garamontOPEN-Computer-path106 = "\1f658"
garamontOPEN-Computer-path107 = "\1f659"
garamontOPEN-Computer-path108 = "\1f65a"
garamontOPEN-Computer-path109 = "\1f65b"
garamontOPEN-Computer-path110 = "\1f65c"
garamontOPEN-Computer-path111 = "\1f65d"
garamontOPEN-Computer-path112 = "\1f65e"
garamontOPEN-Computer-path113 = "\1f65f"
garamontOPEN-Computer-path114 = "\1f660"
garamontOPEN-Computer-path115 = "\1f661"
garamontOPEN-Computer-path116 = "\1f662"
garamontOPEN-Computer-path117 = "\1f663"
garamontOPEN-Computer-path118 = "\1f664"
garamontOPEN-Computer-path119 = "\1f665"
garamontOPEN-Computer-path120 = "\1f666"
garamontOPEN-Computer-path121 = "\1f667"
garamontOPEN-Computer-path122 = "\1f668"
garamontOPEN-Computer-path123 = "\1f669"
garamontOPEN-Computer-path124 = "\1f66a"
garamontOPEN-Computer-path125 = "\1f66b"
garamontOPEN-Computer-path126 = "\1f66c"
garamontOPEN-Computer-path127 = "\1f66d"
garamontOPEN-Computer-path128 = "\1f66e"
garamontOPEN-Computer-path129 = "\1f67b"
garamontOPEN-Computer-path130 = "\1f67c"
garamontOPEN-Computer-path131 = "\1f67d"
garamontOPEN-Computer-path132 = "\1f67e"
garamontOPEN-Computer-path133 = "\1f67f"
garamontOPEN-School-path1 = "\1f3eb"
garamontOPEN-School-path2 = "\1f3ec"
garamontOPEN-School-path3 = "\1f3ed"
garamontOPEN-School-path4 = "\1f3ee"
garamontOPEN-School-path5 = "\1f3ef"
garamontOPEN-School-path6 = "\1f3f0"
garamontOPEN-School-path7 = "\1f3f2"
garamontOPEN-School-path8 = "\1f3f4"
garamontOPEN-School-path9 = "\1f3f5"
garamontOPEN-School-path10 = "\1f3f6"
garamontOPEN-School-path11 = "\1f3f7"
garamontOPEN-School-path12 = "\1f3f8"
garamontOPEN-School-path13 = "\1f3f9"
garamontOPEN-School-path14 = "\1f3fa"
garamontOPEN-School-path15 = "\1f3fb"
garamontOPEN-School-path16 = "\1f3fc"
garamontOPEN-School-path17 = "\1f3fd"
garamontOPEN-School-path18 = "\1f3fe"
garamontOPEN-School-path19 = "\1f3ff"
garamontOPEN-School-path20 = "\1f400"
garamontOPEN-School-path21 = "\1f401"
garamontOPEN-School-path22 = "\1f402"
garamontOPEN-School-path23 = "\1f403"
garamontOPEN-School-path24 = "\1f404"
garamontOPEN-School-path25 = "\1f405"
garamontOPEN-School-path26 = "\1f406"
garamontOPEN-School-path27 = "\1f407"
garamontOPEN-School-path28 = "\1f408"
garamontOPEN-School-path29 = "\1f409"
garamontOPEN-School-path30 = "\1f40a"
garamontOPEN-School-path31 = "\1f40b"
garamontOPEN-School-path32 = "\1f40c"
garamontOPEN-School-path33 = "\1f40d"
garamontOPEN-School-path34 = "\1f40e"
garamontOPEN-School-path35 = "\1f40f"
garamontOPEN-School-path36 = "\1f410"
garamontOPEN-School-path37 = "\1f411"
garamontOPEN-School-path38 = "\1f412"
garamontOPEN-School-path39 = "\1f413"
garamontOPEN-Recording-path1 = "\1f3bc"
garamontOPEN-Recording-path2 = "\1f3c8"
garamontOPEN-Recording-path3 = "\1f3c9"
garamontOPEN-Recording-path4 = "\1f3ca"
garamontOPEN-Recording-path5 = "\1f3cb"
garamontOPEN-Recording-path6 = "\1f3cc"
garamontOPEN-Recording-path7 = "\1f3cd"
garamontOPEN-Recording-path8 = "\1f3ce"
garamontOPEN-Recording-path9 = "\1f3cf"
garamontOPEN-Recording-path10 = "\1f3d0"
garamontOPEN-Recording-path11 = "\1f3d1"
garamontOPEN-Recording-path12 = "\1f3d2"
garamontOPEN-Recording-path13 = "\1f3d3"
garamontOPEN-Recording-path14 = "\1f3d4"
garamontOPEN-Recording-path15 = "\1f3d5"
garamontOPEN-Recording-path16 = "\1f3d6"
garamontOPEN-Recording-path17 = "\1f3d7"
garamontOPEN-Recording-path18 = "\1f3d9"
garamontOPEN-Recording-path19 = "\1f3da"
garamontOPEN-Recording-path20 = "\1f3db"
garamontOPEN-Recording-path21 = "\1f3dc"
garamontOPEN-Recording-path22 = "\1f3dd"
garamontOPEN-Recording-path23 = "\1f3de"
garamontOPEN-Recording-path24 = "\1f3df"
garamontOPEN-Recording-path25 = "\1f3e1"
garamontOPEN-Blue-Earphone-path1 = "\1f535"
garamontOPEN-Blue-Earphone-path2 = "\1f670"
garamontOPEN-Blue-Earphone-path3 = "\1f671"
garamontOPEN-Blue-Earphone-path4 = "\1f672"
garamontOPEN-Blue-Earphone-path5 = "\1f673"
garamontOPEN-Blue-Earphone-path6 = "\1f674"
garamontOPEN-Blue-Earphone-path7 = "\1f675"
garamontOPEN-Blue-Earphone-path8 = "\1f676"
garamontOPEN-Blue-Earphone-path9 = "\1f677"
garamontOPEN-Blue-Earphone-path10 = "\1f678"
garamontOPEN-Blue-Earphone-path11 = "\1f679"
garamontOPEN-Blue-Earphone-path12 = "\1f67a"
garamontOPEN-Blue-Microphone-path1 = "\1f4e0"
garamontOPEN-Blue-Microphone-path2 = "\1f680"
garamontOPEN-Blue-Microphone-path3 = "\1f681"
garamontOPEN-Blue-Microphone-path4 = "\1f683"
garamontOPEN-Blue-Microphone-path5 = "\1f684"
garamontOPEN-Blue-Microphone-path6 = "\1f685"
garamontOPEN-Blue-Microphone-path7 = "\1f686"
garamontOPEN-Blue-Microphone-path8 = "\1f687"
garamontOPEN-Blue-Microphone-path9 = "\1f688"
garamontOPEN-Blue-Microphone-path10 = "\1f689"
garamontOPEN-Blue-Microphone-path11 = "\1f68a"
garamontOPEN-Joystick-path1 = "\1f3bd"
garamontOPEN-Joystick-path2 = "\1f3e3"
garamontOPEN-Joystick-path3 = "\1f3e4"
garamontOPEN-Joystick-path4 = "\1f3e5"
garamontOPEN-Joystick-path5 = "\1f3e6"
garamontOPEN-Joystick-path6 = "\1f3e7"
garamontOPEN-Joystick-path7 = "\1f3e8"
garamontOPEN-Joystick-path8 = "\1f3e9"
garamontOPEN-Joystick-path9 = "\1f3ea"
garamontOPEN-Joystick-path10 = "\1f414"
garamontOPEN-Joystick-path11 = "\1f415"
garamontOPEN-Joystick-path12 = "\1f416"
garamontOPEN-Joystick-path13 = "\1f417"
garamontOPEN-Joystick-path14 = "\1f418"
garamontOPEN-Joystick-path15 = "\1f419"
garamontOPEN-Joystick-path16 = "\1f41a"
garamontOPEN-Joystick-path17 = "\1f41b"
garamontOPEN-exclam = "\21"
garamontOPEN-quotedbl = "\22"
garamontOPEN-numbersign = "\23"
garamontOPEN-dollar = "\24"
garamontOPEN-percent = "\25"
garamontOPEN-ampersand = "\26"
garamontOPEN-quotesingle = "\27"
garamontOPEN-parenleft = "\28"
garamontOPEN-parenright = "\29"
garamontOPEN-asterisk = "\2a"
garamontOPEN-plus = "\2b"
garamontOPEN-comma = "\2c"
garamontOPEN-hyphen = "\2d"
garamontOPEN-period = "\2e"
garamontOPEN-slash = "\2f"
garamontOPEN-zero = "\30"
garamontOPEN-one = "\31"
garamontOPEN-two = "\32"
garamontOPEN-three = "\33"
garamontOPEN-four = "\34"
garamontOPEN-five = "\35"
garamontOPEN-six = "\36"
garamontOPEN-seven = "\37"
garamontOPEN-eight = "\38"
garamontOPEN-nine = "\39"
garamontOPEN-colon = "\3a"
garamontOPEN-semicolon = "\3b"
garamontOPEN-less = "\3c"
garamontOPEN-equal = "\3d"
garamontOPEN-greater = "\3e"
garamontOPEN-question = "\3f"
garamontOPEN-at = "\40"
garamontOPEN-A = "\41"
garamontOPEN-B = "\42"
garamontOPEN-C = "\43"
garamontOPEN-D = "\44"
garamontOPEN-E = "\45"
garamontOPEN-F = "\46"
garamontOPEN-G = "\47"
garamontOPEN-H = "\48"
garamontOPEN-I = "\49"
garamontOPEN-J = "\4a"
garamontOPEN-K = "\4b"
garamontOPEN-L = "\4c"
garamontOPEN-M = "\4d"
garamontOPEN-N = "\4e"
garamontOPEN-O = "\4f"
garamontOPEN-P = "\50"
garamontOPEN-Q = "\51"
garamontOPEN-R = "\52"
garamontOPEN-S = "\53"
garamontOPEN-T = "\54"
garamontOPEN-U = "\55"
garamontOPEN-V = "\56"
garamontOPEN-W = "\57"
garamontOPEN-X = "\58"
garamontOPEN-Y = "\59"
garamontOPEN-Z = "\5a"
garamontOPEN-bracketleft = "\5b"
garamontOPEN-backslash = "\5c"
garamontOPEN-bracketright = "\5d"
garamontOPEN-asciicircum = "\5e"
garamontOPEN-underscore = "\5f"
garamontOPEN-grave = "\60"
garamontOPEN-a = "\61"
garamontOPEN-b = "\62"
garamontOPEN-c = "\63"
garamontOPEN-d = "\64"
garamontOPEN-e = "\65"
garamontOPEN-f = "\66"
garamontOPEN-g = "\67"
garamontOPEN-h = "\68"
garamontOPEN-i = "\69"
garamontOPEN-j = "\6a"
garamontOPEN-k = "\6b"
garamontOPEN-l = "\6c"
garamontOPEN-m = "\6d"
garamontOPEN-n = "\6e"
garamontOPEN-o = "\6f"
garamontOPEN-p = "\70"
garamontOPEN-q = "\71"
garamontOPEN-r = "\72"
garamontOPEN-s = "\73"
garamontOPEN-t = "\74"
garamontOPEN-u = "\75"
garamontOPEN-v = "\76"
garamontOPEN-w = "\77"
garamontOPEN-x = "\78"
garamontOPEN-y = "\79"
garamontOPEN-z = "\7a"
garamontOPEN-braceleft = "\7b"
garamontOPEN-bar = "\7c"
garamontOPEN-braceright = "\7d"
garamontOPEN-asciitilde = "\7e"
garamontOPEN-notdef = "\20ac"
garamontOPEN-afii10110 = "\a2"
garamontOPEN-sterling = "\a3"
garamontOPEN-currency = "\a4"
garamontOPEN-brokenbar = "\a6"
garamontOPEN-section1 = "\a8"
garamontOPEN-afii10023 = "\a9"
garamontOPEN-copyright = "\aa"
garamontOPEN-guillemotleft = "\ab"
garamontOPEN-logicalnot = "\ac"
garamontOPEN-hyphen1 = "\ad"
garamontOPEN-registered = "\ae"
garamontOPEN-degree = "\b0"
garamontOPEN-plusminus = "\b1"
garamontOPEN-afii10055 = "\b2"
garamontOPEN-afii10103 = "\b3"
garamontOPEN-mu = "\b5"
garamontOPEN-paragraph = "\b6"
garamontOPEN-guillemotright = "\bb"
garamontOPEN-florin = "\192"
garamontOPEN-Accent = "\2c6"
garamontOPEN-glyph144 = "\2c7"
garamontOPEN-glyph147 = "\2d8"
garamontOPEN-accent = "\2dc"
garamontOPEN-glyph188 = "\306"
garamontOPEN-glyph191 = "\32e"
garamontOPEN-uniF002 = "\3a8"
garamontOPEN-fi = "\3c6"
garamontOPEN-afii10071 = "\400"
garamontOPEN-afii100231 = "\401"
garamontOPEN-afii10051 = "\402"
garamontOPEN-afii10052 = "\403"
garamontOPEN-afii10053 = "\404"
garamontOPEN-afii10054 = "\405"
garamontOPEN-afii100551 = "\406"
garamontOPEN-afii10056 = "\407"
garamontOPEN-afii10057 = "\408"
garamontOPEN-afii10058 = "\409"
garamontOPEN-afii10059 = "\40a"
garamontOPEN-afii10060 = "\40b"
garamontOPEN-afii10061 = "\40c"
garamontOPEN-afii10062 = "\40e"
garamontOPEN-afii10145 = "\40f"
garamontOPEN-afii10017 = "\410"
garamontOPEN-afii10018 = "\411"
garamontOPEN-afii10019 = "\412"
garamontOPEN-afii10020 = "\413"
garamontOPEN-afii10021 = "\414"
garamontOPEN-afii10022 = "\415"
garamontOPEN-afii10024 = "\416"
garamontOPEN-afii10025 = "\417"
garamontOPEN-afii10026 = "\418"
garamontOPEN-afii10027 = "\419"
garamontOPEN-afii10028 = "\41a"
garamontOPEN-afii10029 = "\41b"
garamontOPEN-afii10030 = "\41c"
garamontOPEN-afii10031 = "\41d"
garamontOPEN-afii10032 = "\41e"
garamontOPEN-afii10033 = "\41f"
garamontOPEN-afii10034 = "\420"
garamontOPEN-afii10035 = "\421"
garamontOPEN-afii10036 = "\422"
garamontOPEN-afii10037 = "\423"
garamontOPEN-afii10038 = "\424"
garamontOPEN-afii10039 = "\425"
garamontOPEN-afii10040 = "\426"
garamontOPEN-afii10041 = "\427"
garamontOPEN-afii10042 = "\428"
garamontOPEN-afii10043 = "\429"
garamontOPEN-afii10044 = "\42a"
garamontOPEN-afii10045 = "\42b"
garamontOPEN-afii10046 = "\42c"
garamontOPEN-afii10047 = "\42d"
garamontOPEN-afii10048 = "\42e"
garamontOPEN-afii10049 = "\42f"
garamontOPEN-afii10065 = "\430"
garamontOPEN-afii10066 = "\431"
garamontOPEN-afii10067 = "\432"
garamontOPEN-glyph146 = "\433"
garamontOPEN-afii10069 = "\434"
garamontOPEN-afii10070 = "\435"
garamontOPEN-afii10072 = "\436"
garamontOPEN-afii10073 = "\437"
garamontOPEN-afii10074 = "\438"
garamontOPEN-afii10075 = "\439"
garamontOPEN-glyph177 = "\43a"
garamontOPEN-afii10077 = "\43b"
garamontOPEN-afii10078 = "\43c"
garamontOPEN-afii10079 = "\43d"
garamontOPEN-afii10080 = "\43e"
garamontOPEN-afii10081 = "\43f"
garamontOPEN-afii10082 = "\440"
garamontOPEN-afii10083 = "\441"
garamontOPEN-afii10084 = "\442"
garamontOPEN-glyph190 = "\443"
garamontOPEN-afii10086 = "\444"
garamontOPEN-afii10087 = "\445"
garamontOPEN-afii10088 = "\446"
garamontOPEN-afii10089 = "\447"
garamontOPEN-afii10090 = "\448"
garamontOPEN-afii10091 = "\449"
garamontOPEN-afii10092 = "\44a"
garamontOPEN-afii10093 = "\44b"
garamontOPEN-afii10094 = "\44c"
garamontOPEN-afii10095 = "\44d"
garamontOPEN-afii10096 = "\44e"
garamontOPEN-afii10097 = "\44f"
garamontOPEN-afii100711 = "\451"
garamontOPEN-afii10099 = "\452"
garamontOPEN-afii10100 = "\453"
garamontOPEN-afii10101 = "\454"
garamontOPEN-afii10102 = "\455"
garamontOPEN-afii101031 = "\456"
garamontOPEN-afii10104 = "\457"
garamontOPEN-afii10106 = "\459"
garamontOPEN-afii10107 = "\45a"
garamontOPEN-afii10108 = "\45b"
garamontOPEN-afii10109 = "\45c"
garamontOPEN-afii101101 = "\45e"
garamontOPEN-afii10193 = "\45f"
garamontOPEN-afii100561 = "\469"
garamontOPEN-cyrhardg = "\475"
garamontOPEN-CyrHardG = "\490"
garamontOPEN-cyrhardg1 = "\491"
garamontOPEN-endash = "\2013"
garamontOPEN-emdash = "\2014"
garamontOPEN-quoteleft = "\2018"
garamontOPEN-quoteright = "\2019"
garamontOPEN-quotesinglbase = "\201a"
garamontOPEN-quotedblleft = "\201c"
garamontOPEN-quotedblright = "\201d"
garamontOPEN-quotedblbase = "\201e"
garamontOPEN-dagger = "\2020"
garamontOPEN-daggerdbl = "\2021"
garamontOPEN-bullet = "\2022"
garamontOPEN-ellipsis = "\2026"
garamontOPEN-perthousand = "\2030"
garamontOPEN-guilsinglleft = "\2039"
garamontOPEN-guilsinglright = "\203a"
garamontOPEN-afii61352 = "\2116"
garamontOPEN-trademark = "\2122"
garamontOPEN-Delta = "\2206"
garamontOPEN-periodcentered = "\2219"
garamontOPEN-radical = "\221a"
garamontOPEN-infinity = "\221e"
garamontOPEN-approxequal = "\2248"
garamontOPEN-NotEqual = "\2260"
garamontOPEN-lessequal = "\2264"
garamontOPEN-greaterequal = "\2265"
garamontOPEN-afii100511 = "\e907"
garamontOPEN-afii100521 = "\e908"
garamontOPEN-afii100611 = "\e909"
garamontOPEN-afii100601 = "\e90a"
garamontOPEN-afii101451 = "\e90b"
garamontOPEN-afii100991 = "\e90c"
garamontOPEN-afii101091 = "\e90d"
garamontOPEN-afii101081 = "\e90e"
garamontOPEN-afii100621 = "\e90f"
garamontOPEN-divide = "\e914"
garamontOPEN-bullet1 = "\f000"
garamontOPEN-afii100571 = "\f6c4"
garamontOPEN-afii10105 = "\bc458"
garamontOPEN-uni260E = "\260e"
garamontOPEN-uni260F = "\260f"
garamontOPEN-uni2610 = "\2610"
garamontOPEN-uni2611 = "\2611"
garamontOPEN-uni2612 = "\2612"
garamontOPEN-uni2615 = "\2615"
garamontOPEN-uni2616 = "\2616"
garamontOPEN-uni2617 = "\2617"
garamontOPEN-uni261A = "\261a"
garamontOPEN-uni261B = "\261b"
garamontOPEN-uni2709 = "\2709"
garamontOPEN-uni270D = "\270d"
garamontOPEN-uni270E = "\270e"
garamontOPEN-uni270F = "\270f"
garamontOPEN-uni2710 = "\2710"
garamontOPEN-uni2711 = "\2711"
garamontOPEN-uni2712 = "\2712"
garamontOPEN-uni2713 = "\2713"
garamontOPEN-uni2714 = "\2714"
garamontOPEN-uni2717 = "\2717"
garamontOPEN-uni274D = "\274d"
garamontOPEN-uni2B8D = "\2b8d"
garamontOPEN-uni2B8E = "\2b8e"
garamontOPEN-uni2B6F = "\2b6f"
garamontOPEN-uni2B8C = "\2b8c"
garamontOPEN-uni2B8F = "\2b8f"
garamontOPEN-u1F582 = "\1f582"
garamontOPEN-u1F5F6 = "\1f5f6"
garamontOPEN-u1F5F3 = "\1f5f3"
garamontOPEN-uni2BA8 = "\2ba8"
garamontOPEN-uni2BA9 = "\2ba9"
garamontOPEN-uni2BAE = "\2bae"
garamontOPEN-uni2BAC = "\2bac"
garamontOPEN-uni2BAF = "\2baf"
garamontOPEN-uni2BAD = "\2bad"
garamontOPEN-uni2BAA = "\2baa"
garamontOPEN-uni2BAB = "\2bab"
garamontOPEN-u1F5BF = "\1f5bf"
garamontOPEN-uni23EA = "\23ea"
garamontOPEN-uni23EE = "\23ee"
garamontOPEN-uni2B9C = "\2b9c"
garamontOPEN-u1F780 = "\1f780"
garamontOPEN-uni2B25 = "\2b25"
garamontOPEN-uni23F7 = "\23f7"
garamontOPEN-uni23F4 = "\23f4"
garamontOPEN-uni2BC7 = "\2bc7"
garamontOPEN-uni2B27 = "\2b27"
garamontOPEN-uni23F5 = "\23f5"
garamontOPEN-uni23E9 = "\23e9"
garamontOPEN-uni23ED = "\23ed"
garamontOPEN-uni2B9E = "\2b9e"
garamontOPEN-uni2B53 = "\2b53"
garamontOPEN-u1F782 = "\1f782"
garamontOPEN-uni23EF = "\23ef"
garamontOPEN-uni2700 = "\2700"
garamontOPEN-u1F56E = "\1f56e"
garamontOPEN-u1F4DA = "\1f4da"
garamontOPEN-u1F56B = "\1f56b"
garamontOPEN-u1F56C = "\1f56c"
garamontOPEN-u1F4F7 = "\1f4f7"
garamontOPEN-u1F54A = "\1f54a"
garamontOPEN-u1F39E = "\1f39e"
garamontOPEN-u1F4FD = "\1f4fd"
garamontOPEN-uni2B94 = "\2b94"
garamontOPEN-u1F5BE = "\1f5be"
garamontOPEN-u1F5BC = "\1f5bc"
garamontOPEN-uni231B = "\231b"
garamontOPEN-uni23F3 = "\23f3"
garamontOPEN-u1F3E0 = "\1f3e0"
garamontOPEN-u1F3D8 = "\1f3d8"
garamontOPEN-u1F4E5 = "\1f4e5"
garamontOPEN-u1F5DA = "\1f5da"
garamontOPEN-u1F579 = "\1f579"
garamontOPEN-u1F5A6 = "\1f5a6"
garamontOPEN-u1F5C8 = "\1f5c8"
garamontOPEN-u1F5CA = "\1f5ca"
garamontOPEN-u1F5C9 = "\1f5c9"
garamontOPEN-u1F5B3 = "\1f5b3"
garamontOPEN-u1F5AF = "\1f5af"
garamontOPEN-u1F5C1 = "\1f5c1"
garamontOPEN-u1F4ED = "\1f4ed"
garamontOPEN-u1F4EC = "\1f4ec"
garamontOPEN-u1F4BF = "\1f4bf"
garamontOPEN-u1F5B8 = "\1f5b8"
garamontOPEN-u1F4E4 = "\1f4e4"
garamontOPEN-u1F5D0 = "\1f5d0"
garamontOPEN-u1F586 = "\1f586"
garamontOPEN-u1F4BB = "\1f4bb"
garamontOPEN-u1F5A9 = "\1f5a9"
garamontOPEN-uni2BB0 = "\2bb0"
garamontOPEN-uni2BB1 = "\2bb1"
garamontOPEN-uni2BB6 = "\2bb6"
garamontOPEN-uni2BB4 = "\2bb4"
garamontOPEN-uni2BB7 = "\2bb7"
garamontOPEN-uni2BB5 = "\2bb5"
garamontOPEN-uni2BB2 = "\2bb2"
garamontOPEN-uni2BB3 = "\2bb3"
garamontOPEN-u1F5DE = "\1f5de"
garamontOPEN-u1F6F0 = "\1f6f0"
garamontOPEN-u1F5B5 = "\1f5b5"
garamontOPEN-u1F6E1 = "\1f6e1"
garamontOPEN-u1F508 = "\1f508"
garamontOPEN-u1F507 = "\1f507"
garamontOPEN-u1F509 = "\1f509"
garamontOPEN-u1F50A = "\1f50a"
garamontOPEN-u1F5E3 = "\1f5e3"
garamontOPEN-u1F577 = "\1f577"
garamontOPEN-u1F578 = "\1f578"
garamontOPEN-u1F5D3 = "\1f5d3"
garamontOPEN-u1F5D2 = "\1f5d2"
garamontOPEN-uni2BD0 = "\2bd0"
garamontOPEN-u1F796 = "\1f796"
garamontOPEN-u1F583 = "\1f583"
garamontOPEN-uni23F1 = "\23f1"
garamontOPEN-u1F399 = "\1f399"
garamontOPEN-uni2B7E = "\2b7e"
garamontOPEN-uni2B7F = "\2b7f"
garamontOPEN-u1F7A1 = "\1f7a1"
garamontOPEN-u1F7A8 = "\1f7a8"
garamontOPEN-u1F5B1 = "\1f5b1"
garamontOPEN-uni2B9B = "\2b9b"
garamontOPEN-uni2B99 = "\2b99"
garamontOPEN-uni2B98 = "\2b98"
garamontOPEN-uni2B9A = "\2b9a"
garamontOPEN-u1F5A7 = "\1f5a7"
garamontOPEN-u1F5EB = "\1f5eb"
garamontOPEN-u1F44E = "\1f44e"
garamontOPEN-u1F44D = "\1f44d"
garamontOPEN-uni23F2 = "\23f2"
garamontOPEN-u1F5B2 = "\1f5b2"
garamontOPEN-u1F6C6 = "\1f6c6"
garamontOPEN-u1F3C6 = "\1f3c6"
garamontOPEN-u1F4F9 = "\1f4f9"
garamontOPEN-u1F3AE = "\1f3ae"
garamontOPEN-u1F5D1 = "\1f5d1"
garamontOPEN-uni231A = "\231a"
garamontOPEN-u1F3F3 = "\1f3f3"
garamontOPEN-u1F78A = "\1f78a"
garamontOPEN-u1F79B = "\1f79b"
garamontOPEN-u1F79A = "\1f79a"
garamontOPEN-uni2BCE = "\2bce"
garamontOPEN-u1F5AB = "\1f5ab"
garamontOPEN-uni2B21 = "\2b21"
garamontOPEN-uni2B2D = "\2b2d"
garamontOPEN-uni2B1C = "\2b1c"
garamontOPEN-u1F7A0 = "\1f7a0"
garamontOPEN-uni2B26 = "\2b26"
garamontOPEN-uni2B28 = "\2b28"
garamontOPEN-uni2B50 = "\2b50"
garamontOPEN-u1F3F1 = "\1f3f1"
garamontOPEN-u1F795 = "\1f795"
garamontOPEN-u1F794 = "\1f794"
garamontOPEN-u1F323 = "\1f323"
garamontOPEN-u1F325 = "\1f325"
garamontOPEN-u1F326 = "\1f326"
garamontOPEN-u1F57E = "\1f57e"
garamontOPEN-u1F324 = "\1f324"
garamontOPEN-u1F873 = "\1f873"
garamontOPEN-u1F870 = "\1f870"
garamontOPEN-u1F875 = "\1f875"
garamontOPEN-u1F874 = "\1f874"
garamontOPEN-u1F876 = "\1f876"
garamontOPEN-u1F877 = "\1f877"
garamontOPEN-u1F871 = "\1f871"
garamontOPEN-u1F32C = "\1f32c"
garamontOPEN-u1F5AE = "\1f5ae"
garamontOPEN-u1F6BA = "\1f6ba"
garamontOPEN-u1F5FA = "\1f5fa"
garamontOPEN-u1F540 = "\1f540"
garamontOPEN-uni2B8B = "\2b8b"
garamontOPEN-uni2B88 = "\2b88"
garamontOPEN-uni2B8A = "\2b8a"
garamontOPEN-uni2B89 = "\2b89"
garamontOPEN-sun = "\263c"
garamontOPEN-dottedCircle_20E3 = "\ea15"
garamontOPEN-dottedCircle_enclosingscreencomb = "\ea16"
garamontOPEN-uni23FC = "\23fc"
garamontOPEN-uni23FB = "\23fb"
garamontOPEN-uni2BEF = "\2bef"
garamontOPEN-uni2BEE = "\2bee"
garamontOPEN-uni2BED = "\2bed"
garamontOPEN-uni2BEC = "\2bec"
garamontOPEN-u1F4DC = "\1f4dc"
garamontOPEN-u1F4DD = "\1f4dd"
garamontOPEN-u1F4E2 = "\1f4e2"
garamontOPEN-u1F4E3 = "\1f4e3"
garamontOPEN-u1F4E41 = "\1f4e6"
garamontOPEN-u1F4E51 = "\1f4e7"
garamontOPEN-u1F503 = "\1f503"
garamontOPEN-u1F50A1 = "\1f50b"
garamontOPEN-u1F50B = "\1f50c"
garamontOPEN-u1F50C = "\1f50d"
garamontOPEN-u1F50D = "\1f50e"
garamontOPEN-u1F50E = "\1f50f"
garamontOPEN-u1F50F = "\1f510"
garamontOPEN-u1F510 = "\1f511"
garamontOPEN-u1F511 = "\1f512"
garamontOPEN-u1F512 = "\1f513"
garamontOPEN-u1F513 = "\1f514"
garamontOPEN-u1F6A9 = "\1f6a9"
garamontOPEN-u1F6AA = "\1f6aa"
garamontOPEN-u1F6AB = "\1f6ab"
garamontOPEN-u1F500 = "\1f500"
garamontOPEN-u1F501 = "\1f501"
garamontOPEN-u1F502 = "\1f502"
garamontOPEN-u1F504 = "\1f504"
garamontOPEN-u1F505 = "\1f505"
garamontOPEN-u1F506 = "\1f506"
garamontOPEN-u1F5071 = "\1f515"
garamontOPEN-u1F5081 = "\1f516"
garamontOPEN-u1F5091 = "\1f517"
garamontOPEN-u1F515 = "\1f518"
garamontOPEN-uni260E1 = "\2613"
garamontOPEN-uni26111 = "\2614"
garamontOPEN-u1F682 = "\1f682"

